In [218]:
import pandas as pa 

loc = pa.read_csv("odi_csv_male\\odi_csv_male\\256665.csv",skiprows=[0],nrows=15,names=["Info","Feature","value"],header=None)
del loc["Info"]
loc=loc.set_index("Feature")
year=loc.loc["season"]["value"]
city =loc.loc["city"]["value"]
venue=loc.loc["venue"]["value"]
team1=loc.iloc[0][0]
team2=loc.iloc[1][0]
teamlist=[team1,team2]
loc

                                       value
Feature
team                               Sri Lanka
team                                   India
gender                                  male
season                                  2006
date                              2006/08/18
date                              2006/08/19
series         India in Sri Lanka ODI Series
match_number                               1
venue           Sinhalese Sports Club Ground
city                                 Colombo
toss_winner                            India
toss_decision                            bat
umpire                             BF Bowden
umpire                          EAR de Silva
tv_umpire                     TH Wijewardene

In [219]:
match=pa.read_csv("odi_csv_male\\odi_csv_male\\256665.csv",skiprows=range(0,22),header=None,names=["ball","Innings","Over","Batting_Team","batsmen","Non-striker","Bowler","Runs","Extras","Wicket","Caught By"])

In [227]:

match["Year"]=year
match["City"]=city
match["Ground"]=venue
match["MatchId"]=1
import numpy as np
match["Bowling_Team"]=np.where(match["Batting_Team"]==team1,team2,team1)
match=match[["MatchId","Batting_Team","batsmen","Non-striker","Bowler","Bowling_Team","Runs","Extras","Wicket","Year","City","Ground"]]
match.head()
print(match["Wicket"].value_counts())
wk=list(match["Wicket"].unique())
wk
wk1=match["Wicket"].nunique()
print(wk1)
if wk1==0:
    match["Wicket"]=0
else:
    match["Wicket"]=np.where((match["Wicket"]=="caught") | (match["Wicket"]=="bowled") |(match["Wicket"]=="stump"),1,0)
print(match["Wicket"].value_counts())

Series([], Name: Wicket, dtype: int64)
0
0    18
Name: Wicket, dtype: int64

In [159]:
players = list(match["batsmen"].unique())
len(players)

20

In [182]:
Player_Runs=match.groupby(["batsmen","Batting_Team","MatchId","Year","City","Ground"])["Runs"].sum()
Player_Runs.to_frame().head()

                                                                                         Runs
batsmen          Batting_Team MatchId Year City    Ground
AC Botha         Ireland      1       2006 Belfast Civil Service Cricket Club, Stormont    52
AJ Strauss       England      1       2006 Belfast Civil Service Cricket Club, Stormont     4
AR White         Ireland      1       2006 Belfast Civil Service Cricket Club, Stormont    40
D Langford-Smith Ireland      1       2006 Belfast Civil Service Cricket Club, Stormont    12
DI Joyce         Ireland      1       2006 Belfast Civil Service Cricket Club, Stormont     0

In [161]:
Runs_Given=match.groupby(["Bowler","Bowling_Team","MatchId","Year","City","Ground"])["Runs"].sum()
Wickets_taken=match.groupby(["Bowler","Bowling_Team","MatchId","Year","City","Ground"])["Wicket"].sum()

In [190]:
r=Runs_Given.to_frame().reset_index()
r.head()
r

,Bowler,Bowling_Team,MatchId,Year,City,Ground,Runs
0,D Langford-Smith,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",59
1,DT Johnston,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",58
2,G Chapple,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",14
3,IR Bell,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",37
4,JF Mooney,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",68
5,JWM Dalrymple,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",51
6,KJ O'Brien,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",43
7,LE Plunkett,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",47
8,PD Collingwood,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",24
9,PJK Mooney,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",17
10,SI Mahmood,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",19
11,SJ Harmison,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",39
12,WK McCallan,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",26

In [188]:
wt=Wickets_taken.to_frame().reset_index()
wt.head()

,Bowler,Bowling_Team,MatchId,Year,City,Ground,Wicket
0,D Langford-Smith,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",3
1,DT Johnston,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",0
2,G Chapple,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",0
3,IR Bell,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",2
4,JF Mooney,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",3

In [192]:
bowl=r.merge(wt,on=["Bowler","Bowling_Team","MatchId","Year","City","Ground"],how="outer")
bowl

,Bowler,Bowling_Team,MatchId,Year,City,Ground,Runs,Wicket
0,D Langford-Smith,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",59,3
1,DT Johnston,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",58,0
2,G Chapple,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",14,0
3,IR Bell,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",37,2
4,JF Mooney,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",68,3
5,JWM Dalrymple,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",51,1
6,KJ O'Brien,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",43,1
7,LE Plunkett,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",47,0
8,PD Collingwood,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",24,2
9,PJK Mooney,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",17,0
10,SI Mahmood,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",19,1
11,SJ Harmison,England,1,2006,Belfast,"Civil Service Cricket Club, Stormont",39,3
12,WK McCallan,Ireland,1,2006,Belfast,"Civil Service Cricket Club, Stormont",26,0

In [235]:
import os
path="odi_csv_male\\odi_csv_male\\"
filelist = os.listdir(path)     
file_count = len(filelist) 
file_count
filelist

['1000887.csv',
 '1000889.csv',
 '1000891.csv',
 '1000893.csv',
 '1000895.csv',
 '1001371.csv',
 '1001373.csv',
 '1001375.csv',
 '1003271.csv',
 '1003273.csv',
 '1004283.csv',
 '1004285.csv',
 '1007649.csv',
 '1007651.csv',
 '1007653.csv',
 '1019973.csv',
 '1019975.csv',
 '1019977.csv',
 '1020013.csv',
 '1020017.csv',
 '1020031.csv',
 '1020033.csv',
 '1020035.csv',
 '1020037.csv',
 '1020039.csv',
 '1022347.csv',
 '1022349.csv',
 '1022351.csv',
 '1022353.csv',
 '1022355.csv',
 '1022357.csv',
 '1022359.csv',
 '1022361.csv',
 '1022363.csv',
 '1022365.csv',
 '1022367.csv',
 '1022369.csv',
 '1022371.csv',
 '1022373.csv',
 '1022375.csv',
 '1026847.csv',
 '1026849.csv',
 '1026851.csv',
 '1027315.csv',
 '1027317.csv',
 '1027319.csv',
 '1029001.csv',
 '1029003.csv',
 '1029819.csv',
 '1029821.csv',
 '1029823.csv',
 '1030219.csv',
 '1030221.csv',
 '1030223.csv',
 '1030225.csv',
 '1030227.csv',
 '1031425.csv',
 '1031427.csv',
 '1031429.csv',
 '1033361.csv',
 '1033363.csv',
 '1033365.csv',
 '1033367.csv',
 '1033369.csv',
 '1033371.csv',
 '1034819.csv',
 '1034821.csv',
 '1034823.csv',
 '1040491.csv',
 '1040493.csv',
 '1040495.csv',
 '1040497.csv',
 '1040499.csv',
 '1050223.csv',
 '1050225.csv',
 '1050227.csv',
 '1051297.csv',
 '1051299.csv',
 '1051301.csv',
 '1059710.csv',
 '1059711.csv',
 '1059712.csv',
 '1059713.csv',
 '1059714.csv',
 '1059715.csv',
 '1059716.csv',
 '1068737.csv',
 '1077949.csv',
 '1077950.csv',
 '1077951.csv',
 '1078659.csv',
 '1078660.csv',
 '1078661.csv',
 '1079246.csv',
 '1079247.csv',
 '1079248.csv',
 '1079249.csv',
 '1079250.csv',
 '1080630.csv',
 '1080631.csv',
 '1083446.csv',
 '1083447.csv',
 '1083448.csv',
 '1089183.csv',
 '1089419.csv',
 '1089420.csv',
 '1089779.csv',
 '1089780.csv',
 '1098206.csv',
 '1098207.csv',
 '1098208.csv',
 '1098209.csv',
 '1098210.csv',
 '1104478.csv',
 '1104479.csv',
 '1104480.csv',
 '1104481.csv',
 '1104482.csv',
 '225171.csv',
 '225245.csv',
 '225246.csv',
 '225247.csv',
 '225248.csv',
 '225249.csv',
 '225250.csv',
 '225251.csv',
 '225252.csv',
 '225253.csv',
 '225254.csv',
 '226375.csv',
 '226376.csv',
 '226377.csv',
 '226378.csv',
 '226380.csv',
 '226381.csv',
 '226382.csv',
 '226383.csv',
 '226384.csv',
 '226385.csv',
 '226386.csv',
 '226391.csv',
 '226392.csv',
 '235831.csv',
 '236358.csv',
 '236520.csv',
 '236595.csv',
 '236809.csv',
 '236963.csv',
 '237222.csv',
 '237568.csv',
 '237571.csv',
 '237574.csv',
 '238169.csv',
 '238170.csv',
 '238173.csv',
 '238174.csv',
 '238175.csv',
 '238176.csv',
 '238177.csv',
 '238178.csv',
 '238179.csv',
 '238188.csv',
 '238189.csv',
 '238190.csv',
 '238193.csv',
 '238194.csv',
 '238196.csv',
 '238197.csv',
 '238198.csv',
 '238199.csv',
 '238200.csv',
 '238213.csv',
 '238214.csv',
 '238215.csv',
 '239907.csv',
 '239908.csv',
 '239911.csv',
 '239912.csv',
 '239913.csv',
 '239916.csv',
 '239917.csv',
 '239918.csv',
 '239919.csv',
 '244510.csv',
 '244511.csv',
 '247457.csv',
 '247458.csv',
 '247460.csv',
 '247461.csv',
 '247462.csv',
 '247463.csv',
 '247464.csv',
 '247465.csv',
 '247466.csv',
 '247467.csv',
 '247468.csv',
 '247469.csv',
 '247470.csv',
 '247471.csv',
 '247472.csv',
 '247473.csv',
 '247474.csv',
 '247475.csv',
 '247476.csv',
 '247477.csv',
 '247478.csv',
 '247479.csv',
 '247480.csv',
 '247481.csv',
 '247482.csv',
 '247483.csv',
 '247484.csv',
 '247485.csv',
 '247486.csv',
 '247487.csv',
 '247488.csv',
 '247489.csv',
 '247490.csv',
 '247491.csv',
 '247492.csv',
 '247493.csv',
 '247494.csv',
 '247495.csv',
 '247496.csv',
 '247497.csv',
 '247498.csv',
 '247499.csv',
 '247500.csv',
 '247501.csv',
 '247502.csv',
 '247503.csv',
 '247504.csv',
 '247505.csv',
 '247506.csv',
 '247507.csv',
 '249207.csv',
 '249211.csv',
 '249212.csv',
 '249213.csv',
 '249214.csv',
 '249228.csv',
 '249229.csv',
 '249230.csv',
 '249231.csv',
 '249232.csv',
 '249233.csv',
 '249234.csv',
 '249235.csv',
 '249236.csv',
 '249237.csv',
 '249238.csv',
 '249239.csv',
 '249240.csv',
 '249241.csv',
 '249378.csv',
 '249379.csv',
 '249380.csv',
 '249739.csv',
 '249740.csv',
 '249741.csv',
 '249742.csv',
 '249743.csv',
 '249744.csv',
 '249745.csv',
 '249746.csv',
 '249747.csv',
 '249748.csv',
 '249749.csv',
 '249750.csv',
 '249751.csv',
 '249752.csv',
 '249753.csv',
 '249754.csv',
 '249755.csv',
 '249756.csv',
 '249757.csv',
 '249758.csv',
 '249759.csv',
 '250668.csv',
 '250669.csv',
 '250670.csv',
 '250671.csv',
 '250672.csv',
 '251489.csv',
 '251491.csv',
 '251492.csv',
 '251494.csv',
 '251495.csv',
 '251496.csv',
 '255961.csv',
 '256607.csv',
 '256608.csv',
 '256610.csv',
 '256612.csv',
 '256614.csv',
 '256615.csv',
 '256665.csv',
 '257470.csv',
 '257769.csv',
 '257770.csv',
 '257771.csv',
 '257772.csv',
 '258465.csv',
 '258466.csv',
 '258467.csv',
 '258471.csv',
 '258472.csv',
 '258473.csv',
 '258474.csv',
 '258475.csv',
 '258476.csv',
 '258477.csv',
 '259384.csv',
 '259389.csv',
 '259390.csv',
 '259391.csv',
 '259793.csv',
 '264068.csv',
 '264069.csv',
 '264070.csv',
 '264071.csv',
 '267386.csv',
 '267387.csv',
 '267389.csv',
 '267391.csv',
 '267708.csv',
 '267709.csv',
 '267710.csv',
 '267712.csv',
 '267713.csv',
 '267715.csv',
 '275789.csv',
 '282688.csv',
 '282689.csv',
 '289107.csv',
 '289108.csv',
 '289110.csv',
 '291217.csv',
 '291218.csv',
 '291220.csv',
 '291221.csv',
 '291345.csv',
 '291346.csv',
 '291347.csv',
 '291359.csv',
 '291360.csv',
 '291361.csv',
 '291362.csv',
 '291364.csv',
 '291365.csv',
 '291366.csv',
 '291367.csv',
 '291368.csv',
 '291369.csv',
 '291370.csv',
 '291371.csv',
 '291372.csv',
 '293071.csv',
 '293072.csv',
 '293076.csv',
 '293077.csv',
 '293078.csv',
 '293481.csv',
 '293482.csv',
 '293483.csv',
 '295785.csv',
 '295788.csv',
 '296685.csv',
 '296687.csv',
 '296904.csv',
 '296905.csv',
 '296906.csv',
 '296907.csv',
 '296908.csv',
 '296914.csv',
 '296915.csv',
 '296916.csv',
 '296917.csv',
 '296918.csv',
 '297793.csv',
 '297794.csv',
 '297795.csv',
 '297796.csv',
 '297797.csv',
 '297798.csv',
 '297799.csv',
 '297801.csv',
 '297802.csv',
 '297803.csv',
 '297804.csv',
 '297805.csv',
 '298796.csv',
 '298797.csv',
 '298798.csv',
 '298805.csv',
 '298806.csv',
 '298807.csv',
 '298808.csv',
 '298809.csv',
 '299006.csv',
 '299007.csv',
 '299008.csv',
 '299009.csv',
 '299010.csv',
 '300426.csv',
 '300427.csv',
 '300428.csv',
 '300437.csv',
 '300438.csv',
 '300439.csv',
 '300440.csv',
 '300441.csv',
 '300486.csv',
 '300487.csv',
 '300488.csv',
 '313992.csv',
 '313993.csv',
 '313994.csv',
 '317578.csv',
 '317579.csv',
 '317581.csv',
 '319134.csv',
 '319135.csv',
 '319136.csv',
 '319143.csv',
 '319144.csv',
 '319145.csv',
 '319146.csv',
 '319147.csv',
 '323949.csv',
 '323950.csv',
 '323951.csv',
 '325569.csv',
 '325572.csv',
 '325576.csv',
 '325579.csv',
 '325580.csv',
 '325581.csv',
 '325800.csv',
 '325801.csv',
 '325802.csv',
 '325803.csv',
 '325804.csv',
 '335346.csv',
 '335347.csv',
 '335348.csv',
 '335349.csv',
 '335350.csv',
 '335351.csv',
 '335352.csv',
 '335353.csv',
 '335354.csv',
 '335355.csv',
 '335356.csv',
 '335357.csv',
 '335358.csv',
 '336201.csv',
 '336202.csv',
 '336204.csv',
 '343732.csv',
 '343733.csv',
 '343734.csv',
 '343736.csv',
 '343759.csv',
 '343760.csv',
 '343761.csv',
 '343762.csv',
 '343763.csv',
 '345468.csv',
 '345469.csv',
 '345470.csv',
 '345471.csv',
 '350043.csv',
 '350044.csv',
 '350045.csv',
 '350046.csv',
 '350047.csv',
 '350048.csv',
 '350049.csv',
 '350348.csv',
 '350477.csv',
 '350478.csv',
 '350479.csv',
 '350480.csv',
 '350481.csv',
 '351684.csv',
 '351685.csv',
 '351686.csv',
 '351687.csv',
 '351688.csv',
 '351689.csv',
 '351690.csv',
 '351691.csv',
 '351692.csv',
 '351693.csv',
 '352665.csv',
 '352666.csv',
 '352667.csv',
 '352668.csv',
 '352669.csv',
 '360800.csv',
 '361043.csv',
 '361044.csv',
 '361045.csv',
 '361046.csv',
 '361047.csv',
 '366341.csv',
 '366623.csv',
 '366624.csv',
 '366625.csv',
 '366626.csv',
 '366627.csv',
 '366709.csv',
 '366711.csv',
 '374059.csv',
 '374060.csv',
 '375456.csv',
 '375457.csv',
 '375460.csv',
 '375462.csv',
 '377313.csv',
 '377314.csv',
 '377315.csv',
 '377316.csv',
 '378753.csv',
 '378755.csv',
 '378759.csv',
 '380715.csv',
 '380716.csv',
 '383275.csv',
 '385025.csv',
 '385749.csv',
 '385750.csv',
 '385751.csv',
 '386530.csv',
 '386531.csv',
 '386532.csv',
 '386533.csv',
 '386534.csv',
 '387566.csv',
 '387567.csv',
 '387568.csv',
 '390204.csv',
 '390227.csv',
 '390253.csv',
 '392616.csv',
 '392617.csv',
 '392618.csv',
 '392619.csv',
 '392620.csv',
 '401073.csv',
 '401074.csv',
 '401075.csv',
 '403370.csv',
 '403371.csv',
 '403372.csv',
 '403373.csv',
 '403374.csv',
 '403380.csv',
 '403381.csv',
 '403382.csv',
 '403383.csv',
 '406192.csv',
 '406193.csv',
 '406194.csv',
 '406195.csv',
 '406196.csv',
 '406202.csv',
 '406203.csv',
 '406204.csv',
 '406205.csv',
 '406206.csv',
 '410337.csv',
 '410338.csv',
 '410339.csv',
 '410340.csv',
 '410341.csv',
 '415162.csv',
 '415273.csv',
 '415274.csv',
 '415275.csv',
 '415276.csv',
 '415277.csv',
 '415278.csv',
 '415279.csv',
 '415280.csv',
 '415281.csv',
 '415282.csv',
 '415283.csv',
 '415284.csv',
 '415285.csv',
 '415286.csv',
 '415287.csv',
 '416236.csv',
 '416237.csv',
 '416238.csv',
 '416239.csv',
 '416240.csv',
 '416241.csv',
 '422626.csv',
 '422627.csv',
 '422628.csv',
 '422629.csv',
 '422630.csv',
 '423783.csv',
 '423784.csv',
 '423785.csv',
 '423791.csv',
 '423792.csv',
 '423793.csv',
 '423794.csv',
 '423795.csv',
 '426384.csv',
 '426387.csv',
 '426388.csv',
 '426389.csv',
 '426390.csv',
 '426391.csv',
 '426403.csv',
 '426404.csv',
 '426405.csv',
 '426420.csv',
 '426421.csv',
 '426422.csv',
 '426428.csv',
 '426429.csv',
 '426430.csv',
 '426431.csv',
 '426432.csv',
 '426720.csv',
 '426721.csv',
 '426722.csv',
 '430508.csv',
 '430509.csv',
 '430886.csv',
 '430887.csv',
 '430888.csv',
 '430889.csv',
 '430890.csv',
 '433558.csv',
 '433559.csv',
 '433560.csv',
 '433561.csv',
 '433562.csv',
 '433563.csv',
 '433564.csv',
 '433565.csv',
 '433566.csv',
 '433567.csv',
 '433568.csv',
 '433569.csv',
 '433570.csv',
 '433571.csv',
 '433572.csv',
 '433573.csv',
 '433574.csv',
 '433575.csv',
 '433576.csv',
 '433577.csv',
 '433578.csv',
 '433579.csv',
 '433580.csv',
 '433581.csv',
 '433582.csv',
 '433583.csv',
 '433584.csv',
 '433585.csv',
 '433586.csv',
 '433587.csv',
 '433588.csv',
 '433589.csv',
 '433590.csv',
 '433591.csv',
 '433592.csv',
 '433593.csv',
 '433594.csv',
 '433595.csv',
 '433596.csv',
 '433597.csv',
 '433598.csv',
 '433599.csv',
 '433600.csv',
 '433601.csv',
 '433602.csv',
 '433603.csv',
 '433604.csv',
 '433605.csv',
 '433606.csv',
 '434258.csv',
 '434259.csv',
 '434260.csv',
 '434261.csv',
 '434262.csv',
 '434263.csv',
 '434264.csv',
 '439140.csv',
 '439141.csv',
 '439142.csv',
 '439143.csv',
 '439144.csv',
 '439147.csv',
 '439148.csv',
 '439149.csv',
 '439150.csv',
 '439151.csv',
 '441827.csv',
 '441828.csv',
 '441829.csv',
 '446957.csv',
 '446958.csv',
 '446959.csv',
 '446962.csv',
 '446963.csv',
 '446964.csv',
 '446965.csv',
 '446966.csv',
 '446967.csv',
 '446968.csv',
 '450107.csv',
 '450379.csv',
 '450498.csv',
 '450501.csv',
 '452146.csv',
 '452147.csv',
 '452148.csv',
 '452149.csv',
 '452150.csv',
 '452151.csv',
 '452152.csv',
 '455231.csv',
 '455232.csv',
 '455233.csv',
 '455234.csv',
 '455235.csv',
 '455236.csv',
 '455237.csv',
 '456662.csv',
 '456663.csv',
 '456664.csv',
 '456665.csv',
 '456666.csv',
 '456668.csv',
 '461566.csv',
 '461567.csv',
 '461568.csv',
 '461569.csv',
 '461570.csv',
 '463143.csv',
 '463144.csv',
 '463145.csv',
 '463150.csv',
 '463151.csv',
 '463152.csv',
 '463153.csv',
 '463154.csv',
 '464529.csv',
 '464720.csv',
 '464723.csv',
 '464990.csv',
 '464991.csv',
 '464992.csv',
 '467883.csv',
 '467884.csv',
 '467885.csv',
 '467886.csv',
 '467887.csv',
 '473315.csv',
 '473923.csv',
 '473924.csv',
 '473925.csv',
 '473926.csv',
 '473927.csv',
 '473928.csv',
 '474467.csv',
 '474468.csv',
 '474469.csv',
 '474470.csv',
 '474471.csv',
 '474477.csv',
 '474478.csv',
 '474479.csv',
 '474480.csv',
 '474481.csv',
 '476596.csv',
 '476598.csv',
 '476599.csv',
 '476600.csv',
 '483126.csv',
 '486520.csv',
 '486522.csv',
 '486523.csv',
 '486526.csv',
 '489213.csv',
 '489214.csv',
 '489215.csv',
 '489216.csv',
 '489217.csv',
 '489221.csv',
 '489222.csv',
 '489223.csv',
 '489224.csv',
 '489225.csv',
 '503363.csv',
 '503364.csv',
 '503365.csv',
 '504779.csv',
 '514025.csv',
 '514026.csv',
 '514027.csv',
 '514035.csv',
 '514036.csv',
 '514037.csv',
 '514038.csv',
 '514039.csv',
 '516206.csv',
 '516207.csv',
 '516208.csv',
 '516209.csv',
 '516210.csv',
 '518956.csv',
 '518957.csv',
 '518958.csv',
 '518959.csv',
 '518960.csv',
 '518961.csv',
 '518962.csv',
 '518963.csv',
 '518964.csv',
 '518965.csv',
 '518966.csv',
 '518967.csv',
 '518968.csv',
 '518969.csv',
 '518970.csv',
 '520592.csv',
 '520593.csv',
 '520594.csv',
 '520600.csv',
 '520601.csv',
 '520602.csv',
 '521218.csv',
 '521219.csv',
 '521220.csv',
 '521221.csv',
 '521222.csv',
 '522246.csv',
 '522247.csv',
 '522248.csv',
 '522249.csv',
 '522250.csv',
 '523732.csv',
 '523733.csv',
 '523734.csv',
 '523804.csv',
 '523805.csv',
 '527014.csv',
 '527015.csv',
 '527016.csv',
 '530427.csv',
 '530428.csv',
 '530429.csv',
 '530430.csv',
 '530431.csv',
 '531631.csv',
 '531632.csv',
 '531633.csv',
 '531634.csv',
 '531983.csv',
 '531984.csv',
 '531985.csv',
 '534209.csv',
 '534210.csv',
 '534214.csv',
 '534215.csv',
 '534216.csv',
 '534218.csv',
 '534219.csv',
 '534228.csv',
 '534229.csv',
 '534230.csv',
 '534231.csv',
 '534232.csv',
 '535794.csv',
 '535795.csv',
 '535796.csv',
 '535797.csv',
 '535798.csv',
 '535799.csv',
 '535800.csv',
 '536929.csv',
 '536930.csv',
 '536931.csv',
 '536932.csv',
 '536933.csv',
 '538069.csv',
 '538070.csv',
 '538071.csv',
 '540168.csv',
 '540169.csv',
 '540170.csv',
 '540171.csv',
 '540172.csv',
 '543881.csv',
 '543882.csv',
 '543888.csv',
 '545656.csv',
 '555892.csv',
 '560923.csv',
 '560924.csv',
 '560925.csv',
 '560926.csv',
 '560927.csv',
 '562439.csv',
 '562440.csv',
 '562441.csv',
 '562442.csv',
 '562443.csv',
 '564781.csv',
 '564782.csv',
 '564783.csv',
 '564784.csv',
 '564785.csv',
 '565812.csv',
 '565813.csv',
 '565814.csv',
 '565815.csv',
 '565816.csv',
 '566923.csv',
 '566924.csv',
 '566925.csv',
 '566940.csv',
 '566942.csv',
 '566943.csv',
 '566944.csv',
 '566945.csv',
 '566946.csv',
 '566947.csv',
 '566948.csv',
 '567358.csv',
 '567359.csv',
 '567360.csv',
 '567368.csv',
 '567369.csv',
 '567370.csv',
 '567371.csv',
 '567372.csv',
 '569240.csv',
 '569241.csv',
 '569242.csv',
 '571145.csv',
 '571146.csv',
 '571147.csv',
 '571947.csv',
 '573014.csv',
 '573015.csv',
 '573016.csv',
 '573017.csv',
 '573018.csv',
 '573022.csv',
 '573023.csv',
 '573024.csv',
 '573025.csv',
 '573026.csv',
 '578614.csv',
 '578615.csv',
 '578616.csv',
 '578617.csv',
 '578618.csv',
 '578619.csv',
 '578620.csv',
 '578621.csv',
 '578622.csv',
 '578623.csv',
 '578624.csv',
 '578625.csv',
 '582188.csv',
 '582189.csv',
 '582190.csv',
 '582191.csv',
 '587471.csv',
 '587472.csv',
 '587473.csv',
 '587474.csv',
 '587475.csv',
 '589308.csv',
 '589309.csv',
 '589310.csv',
 '592266.csv',
 '593983.csv',
 '593985.csv',
 '597923.csv',
 '597924.csv',
 '597925.csv',
 '597926.csv',
 '597927.csv',
 '597928.csv',
 '597929.csv',
 '601077.csv',
 '601612.csv',
 '601613.csv',
 ...]

In [271]:
batsman_stat=pa.DataFrame(columns=["batsmen","Batting_Team","MatchId","Year","Ground","Runs"])
bowler_stat=pa.DataFrame(columns=["batsmen","Batting_Team","MatchId","Year","Ground","Wickets","Runs"])
batsman_stat

Empty DataFrame
Columns: [batsmen, Batting_Team, MatchId, Year, Ground, Runs]
Index: []

In [484]:
i=1
ls=['1000887.csv','1000889.csv']
    
for file in filelist:

    loc = pa.read_csv(path+file,skiprows=[0],nrows=15,names=["Info","Feature","value"],header=None)
    del loc["Info"]
    
    loc=loc.set_index("Feature")
    year=loc.loc["season"]["value"]
    
    venue=loc.loc["venue"]["value"]
    team1=loc.iloc[0][0]
    team2=loc.iloc[1][0]
    teamlist=[team1,team2]
    match=pa.read_csv(path+file,skiprows=range(0,22),header=None,names=["ball","Innings","Over","Batting_Team","batsmen","Non-striker","Bowler","Runs","Extras","Wicket","Caught By"])
    match["Year"]=year
   
    match["Ground"]=venue
    match["MatchId"]=filelist.index(file)
    match["Bowling_Team"]=np.where(match["Batting_Team"]==team1,team2,team1)
    match=match[["MatchId","Batting_Team","batsmen","Non-striker","Bowler","Bowling_Team","Runs","Extras","Wicket","Year","Ground"]]
    #match.head()
    #print(match["Wicket"].value_counts())
    wk=list(match["Wicket"].unique())
    #wk
    wk1=match["Wicket"].nunique()
    #print(wk1)
    if wk1==0:
        match["Wicket"]=0
    else:
        match["Wicket"]=np.where((match["Wicket"]=="caught") | (match["Wicket"]=="bowled") |(match["Wicket"]=="stumped"),1,0)
    print(match["Wicket"].value_counts())
    Player_Runs1=match.groupby(["batsmen","Batting_Team","MatchId","Year","Ground"])["Runs"].sum()
    Runs_Given=match.groupby(["Bowler","Bowling_Team","MatchId","Year","Ground"])["Runs"].sum()
    Wickets_taken=match.groupby(["Bowler","Bowling_Team","MatchId","Year","Ground"])["Wicket"].sum()
    runs1=Player_Runs1.to_frame().reset_index()
    r1=Runs_Given.to_frame().reset_index()
    wt1=Wickets_taken.to_frame().reset_index()
    
    bowl1=r1.merge(wt1,on=["Bowler","Bowling_Team","MatchId","Year","Ground"],how="outer")
    i=i+1
    batsman_stat=batsman_stat.append(runs1)
    bowler_stat=bowler_stat.append(bowl1)
    #print(Player_Runs1)

0    551
1     18
Name: Wicket, dtype: int64
0    575
1     13
Name: Wicket, dtype: int64
0    573
1      9
Name: Wicket, dtype: int64
0    553
1     14
Name: Wicket, dtype: int64
0    597
1     14
Name: Wicket, dtype: int64
0    567
1     15
Name: Wicket, dtype: int64
0    584
1     14
Name: Wicket, dtype: int64
0    518
1     14
Name: Wicket, dtype: int64
0    282
1      3
Name: Wicket, dtype: int64
0    380
1     13
Name: Wicket, dtype: int64
0    225
1      7
Name: Wicket, dtype: int64
0    574
1     12
Name: Wicket, dtype: int64
0    558
1     10
Name: Wicket, dtype: int64
0    372
1      6
Name: Wicket, dtype: int64
0    388
1      6
Name: Wicket, dtype: int64
0    574
1     14
Name: Wicket, dtype: int64
0    553
1     16
Name: Wicket, dtype: int64
0    554
1      7
Name: Wicket, dtype: int64
0    577
1     18
Name: Wicket, dtype: int64
0    576
1     18
Name: Wicket, dtype: int64
0    405
1      8
Name: Wicket, dtype: int64
0    603
1      9
Name: Wicket, dtype: int64
0    489
1     14
Name: Wicket, dtype: int64
0    571
1      8
Name: Wicket, dtype: int64
0    444
1      8
Name: Wicket, dtype: int64
0    583
1      8
Name: Wicket, dtype: int64
0    313
1     11
Name: Wicket, dtype: int64
0    557
1     10
Name: Wicket, dtype: int64
0    492
1      8
Name: Wicket, dtype: int64
0    356
1      8
Name: Wicket, dtype: int64
0    558
1     18
Name: Wicket, dtype: int64
0    462
1      9
Name: Wicket, dtype: int64
0    596
1      7
Name: Wicket, dtype: int64
0    595
1      8
Name: Wicket, dtype: int64
0    542
1      9
Name: Wicket, dtype: int64
0    498
1      8
Name: Wicket, dtype: int64
0    571
1     15
Name: Wicket, dtype: int64
0    522
1     10
Name: Wicket, dtype: int64
0    542
1      7
Name: Wicket, dtype: int64
0    488
1     10
Name: Wicket, dtype: int64
0    522
1     18
Name: Wicket, dtype: int64
0    566
1     14
Name: Wicket, dtype: int64
0    509
1      5
Name: Wicket, dtype: int64
0    589
1     12
Name: Wicket, dtype: int64
0    573
1     12
Name: Wicket, dtype: int64
0    537
1     15
Name: Wicket, dtype: int64
0    312
1      8
Name: Wicket, dtype: int64
0    570
1     15
Name: Wicket, dtype: int64
0    583
1     15
Name: Wicket, dtype: int64
0    566
1     13
Name: Wicket, dtype: int64
0    591
1     11
Name: Wicket, dtype: int64
0    467
1     10
Name: Wicket, dtype: int64
0    592
1     14
Name: Wicket, dtype: int64
0    590
1     10
Name: Wicket, dtype: int64
0    598
1     13
Name: Wicket, dtype: int64
0    428
1     14
Name: Wicket, dtype: int64
0    567
1     15
Name: Wicket, dtype: int64
0    605
1     10
Name: Wicket, dtype: int64
0    356
1     12
Name: Wicket, dtype: int64
0    193
1      4
Name: Wicket, dtype: int64
0    573
1     13
Name: Wicket, dtype: int64
0    584
1     11
Name: Wicket, dtype: int64
0    445
1     10
Name: Wicket, dtype: int64
0    533
1     14
Name: Wicket, dtype: int64
0    593
1     11
Name: Wicket, dtype: int64
0    595
1     13
Name: Wicket, dtype: int64
0    600
1     13
Name: Wicket, dtype: int64
0    605
1     15
Name: Wicket, dtype: int64
0    580
1     11
Name: Wicket, dtype: int64
0    585
1     15
Name: Wicket, dtype: int64
0    601
1     10
Name: Wicket, dtype: int64
0    578
1     13
Name: Wicket, dtype: int64
0    581
1     12
Name: Wicket, dtype: int64
0    517
1     17
Name: Wicket, dtype: int64
0    607
1      8
Name: Wicket, dtype: int64
0    561
1     12
Name: Wicket, dtype: int64
0    602
1     17
Name: Wicket, dtype: int64
0    597
1      9
Name: Wicket, dtype: int64
0    501
1     13
Name: Wicket, dtype: int64
0    392
1      9
Name: Wicket, dtype: int64
0    550
1     13
Name: Wicket, dtype: int64
0    596
1     13
Name: Wicket, dtype: int64
0    81
Name: Wicket, dtype: int64
0    605
1     10
Name: Wicket, dtype: int64
0    462
1      9
Name: Wicket, dtype: int64
0    444
1      8
Name: Wicket, dtype: int64
0    586
1     11
Name: Wicket, dtype: int64
0    599
1     11
Name: Wicket, dtype: int64
0    570
1     10
Name: Wicket, dtype: int64
0    552
1     12
Name: Wicket, dtype: int64
0    561
1      9
Name: Wicket, dtype: int64
0    520
1     13
Name: Wicket, dtype: int64
0    519
1     12
Name: Wicket, dtype: int64
0    459
1      9
Name: Wicket, dtype: int64
0    547
1     15
Name: Wicket, dtype: int64
0    359
1     19
Name: Wicket, dtype: int64
0    366
1     12
Name: Wicket, dtype: int64
0    379
1     14
Name: Wicket, dtype: int64
0    545
1     16
Name: Wicket, dtype: int64
0    540
1      9
Name: Wicket, dtype: int64
0    570
1     12
Name: Wicket, dtype: int64
0    295
1      5
Name: Wicket, dtype: int64
0    572
1     14
Name: Wicket, dtype: int64
0    501
1     16
Name: Wicket, dtype: int64
0    552
1     12
Name: Wicket, dtype: int64
0    468
1     11
Name: Wicket, dtype: int64
0    574
1     11
Name: Wicket, dtype: int64
0    463
1     12
Name: Wicket, dtype: int64
0    235
1      2
Name: Wicket, dtype: int64
0    517
1      9
Name: Wicket, dtype: int64
0    536
1     10
Name: Wicket, dtype: int64
0    599
1     17
Name: Wicket, dtype: int64
0    518
1      8
Name: Wicket, dtype: int64
0    592
1      7
Name: Wicket, dtype: int64
0    384
1     10
Name: Wicket, dtype: int64
0    596
1      6
Name: Wicket, dtype: int64
0    479
1     10
Name: Wicket, dtype: int64
0    530
1     12
Name: Wicket, dtype: int64
0    611
1     16
Name: Wicket, dtype: int64
0    345
1      7
Name: Wicket, dtype: int64
0    459
1     10
Name: Wicket, dtype: int64
0    602
1     13
Name: Wicket, dtype: int64
0    591
1      7
Name: Wicket, dtype: int64
0    493
1     12
Name: Wicket, dtype: int64
0    612
1     16
Name: Wicket, dtype: int64
0    592
1     13
Name: Wicket, dtype: int64
0    564
1      5
Name: Wicket, dtype: int64
0    600
1     14
Name: Wicket, dtype: int64
0    545
1      6
Name: Wicket, dtype: int64
0    592
1      9
Name: Wicket, dtype: int64
0    576
1     18
Name: Wicket, dtype: int64
0    599
1     11
Name: Wicket, dtype: int64
0    600
1     10
Name: Wicket, dtype: int64
0    595
1     12
Name: Wicket, dtype: int64
0    591
1     13
Name: Wicket, dtype: int64
0    550
1      8
Name: Wicket, dtype: int64
0    570
1     10
Name: Wicket, dtype: int64
0    597
1      9
Name: Wicket, dtype: int64
0    556
1     11
Name: Wicket, dtype: int64
0    565
1     14
Name: Wicket, dtype: int64
0    598
1      9
Name: Wicket, dtype: int64
0    571
1     16
Name: Wicket, dtype: int64
0    587
1     11
Name: Wicket, dtype: int64
0    594
1     10
Name: Wicket, dtype: int64
0    563
1      6
Name: Wicket, dtype: int64
0    513
1     11
Name: Wicket, dtype: int64
0    601
1      9
Name: Wicket, dtype: int64
0    571
1      7
Name: Wicket, dtype: int64
0    455
1     11
Name: Wicket, dtype: int64
0    584
1     15
Name: Wicket, dtype: int64
0    590
1      8
Name: Wicket, dtype: int64
0    364
1     13
Name: Wicket, dtype: int64
0    584
1     10
Name: Wicket, dtype: int64
0    593
1     13
Name: Wicket, dtype: int64
0    558
1     12
Name: Wicket, dtype: int64
0    589
1     12
Name: Wicket, dtype: int64
0    402
1     10
Name: Wicket, dtype: int64
0    556
1     11
Name: Wicket, dtype: int64
0    593
1     13
Name: Wicket, dtype: int64
0    606
1     11
Name: Wicket, dtype: int64
0    588
1     16
Name: Wicket, dtype: int64
0    505
1     16
Name: Wicket, dtype: int64
0    597
1     11
Name: Wicket, dtype: int64
0    595
1     15
Name: Wicket, dtype: int64
0    557
1     13
Name: Wicket, dtype: int64
0    608
1     10
Name: Wicket, dtype: int64
0    512
1      7
Name: Wicket, dtype: int64
0    496
1     15
Name: Wicket, dtype: int64
0    584
1     11
Name: Wicket, dtype: int64
0    591
1     13
Name: Wicket, dtype: int64
0    606
1     12
Name: Wicket, dtype: int64
0    296
1      7
Name: Wicket, dtype: int64
0    541
1      9
Name: Wicket, dtype: int64
0    565
1     13
Name: Wicket, dtype: int64
0    538
1     12
Name: Wicket, dtype: int64
0    582
1     17
Name: Wicket, dtype: int64
0    468
1      8
Name: Wicket, dtype: int64
0    386
1      6
Name: Wicket, dtype: int64
0    603
1     14
Name: Wicket, dtype: int64
0    602
1     16
Name: Wicket, dtype: int64
0    609
1      5
Name: Wicket, dtype: int64
0    571
1     10
Name: Wicket, dtype: int64
0    601
1     14
Name: Wicket, dtype: int64

0    592
1     10
Name: Wicket, dtype: int64
0    568
1     12
Name: Wicket, dtype: int64
0    576
1     16
Name: Wicket, dtype: int64
0    541
1     10
Name: Wicket, dtype: int64
0    460
1     13
Name: Wicket, dtype: int64
0    601
1     12
Name: Wicket, dtype: int64
0    480
1      7
Name: Wicket, dtype: int64
0    554
1     11
Name: Wicket, dtype: int64
0    593
1     12
Name: Wicket, dtype: int64
0    547
1     15
Name: Wicket, dtype: int64
0    465
1      8
Name: Wicket, dtype: int64
0    612
1     10
Name: Wicket, dtype: int64
0    579
1     12
Name: Wicket, dtype: int64
0    605
1      7
Name: Wicket, dtype: int64
0    437
1      9
Name: Wicket, dtype: int64
0    607
1      9
Name: Wicket, dtype: int64
0    523
1     11
Name: Wicket, dtype: int64
0    410
1     17
Name: Wicket, dtype: int64
0    350
1      9
Name: Wicket, dtype: int64
0    612
1      9
Name: Wicket, dtype: int64
0    571
1     12
Name: Wicket, dtype: int64
0    520
1     10
Name: Wicket, dtype: int64
0    587
1     13
Name: Wicket, dtype: int64
0    467
1      9
Name: Wicket, dtype: int64
0    243
1     10
Name: Wicket, dtype: int64
0    584
1     10
Name: Wicket, dtype: int64
0    581
1     15
Name: Wicket, dtype: int64
0    499
1     11
Name: Wicket, dtype: int64
0    601
1     13
Name: Wicket, dtype: int64
0    215
1      6
Name: Wicket, dtype: int64
0    577
1     12
Name: Wicket, dtype: int64
0    465
1     10
Name: Wicket, dtype: int64
0    399
1      9
Name: Wicket, dtype: int64
0    596
1     12
Name: Wicket, dtype: int64
0    603
1     11
Name: Wicket, dtype: int64
0    584
1     11
Name: Wicket, dtype: int64
0    529
1     12
Name: Wicket, dtype: int64
0    597
1     11
Name: Wicket, dtype: int64
0    495
1     14
Name: Wicket, dtype: int64
0    581
1      9
Name: Wicket, dtype: int64
0    266
1      9
Name: Wicket, dtype: int64
0    594
1     10
Name: Wicket, dtype: int64
0    561
1     11
Name: Wicket, dtype: int64
0    562
1     10
Name: Wicket, dtype: int64
0    408
1      8
Name: Wicket, dtype: int64
0    228
1      9
Name: Wicket, dtype: int64
0    561
1     12
Name: Wicket, dtype: int64
0    463
1     14
Name: Wicket, dtype: int64
0    605
1     13
Name: Wicket, dtype: int64
0    565
1      9
Name: Wicket, dtype: int64
0    453
1     12
Name: Wicket, dtype: int64
0    454
1      9
Name: Wicket, dtype: int64
0    566
1      8
Name: Wicket, dtype: int64
0    466
1     14
Name: Wicket, dtype: int64
0    547
1     14
Name: Wicket, dtype: int64
0    527
1     12
Name: Wicket, dtype: int64
0    490
1     10
Name: Wicket, dtype: int64
0    535
1     15
Name: Wicket, dtype: int64
0    580
1     15
Name: Wicket, dtype: int64
0    610
1      8
Name: Wicket, dtype: int64
0    600
1     10
Name: Wicket, dtype: int64
0    573
1      9
Name: Wicket, dtype: int64
0    485
1     13
Name: Wicket, dtype: int64
0    353
1      9
Name: Wicket, dtype: int64
0    545
1     12
Name: Wicket, dtype: int64
0    605
1     10
Name: Wicket, dtype: int64
0    521
1     16
Name: Wicket, dtype: int64
0    618
1     13
Name: Wicket, dtype: int64
0    602
1     14
Name: Wicket, dtype: int64
0    595
1     10
Name: Wicket, dtype: int64
0    471
1     12
Name: Wicket, dtype: int64
0    480
1     10
Name: Wicket, dtype: int64
0    571
1     12
Name: Wicket, dtype: int64
0    417
1      9
Name: Wicket, dtype: int64
0    617
1     13
Name: Wicket, dtype: int64
0    269
1      8
Name: Wicket, dtype: int64
0    573
1     14
Name: Wicket, dtype: int64
0    503
1      6
Name: Wicket, dtype: int64
0    565
1     11
Name: Wicket, dtype: int64
0    272
1      7
Name: Wicket, dtype: int64
0    397
1     11
Name: Wicket, dtype: int64
0    474
1     16
Name: Wicket, dtype: int64
0    590
1     13
Name: Wicket, dtype: int64
0    604
1     11
Name: Wicket, dtype: int64
0    529
1     11
Name: Wicket, dtype: int64
0    497
1     13
Name: Wicket, dtype: int64
0    531
1     16
Name: Wicket, dtype: int64
0    581
1     14
Name: Wicket, dtype: int64
0    611
1      9
Name: Wicket, dtype: int64
0    449
1     15
Name: Wicket, dtype: int64
0    601
1      8
Name: Wicket, dtype: int64
0    588
1      9
Name: Wicket, dtype: int64
0    583
1     17
Name: Wicket, dtype: int64
0    574
1      8
Name: Wicket, dtype: int64
0    359
1      8
Name: Wicket, dtype: int64
0    588
1     15
Name: Wicket, dtype: int64
0    543
1      9
Name: Wicket, dtype: int64
0    293
1      7
Name: Wicket, dtype: int64
0    355
1      9
Name: Wicket, dtype: int64
0    424
1      9
Name: Wicket, dtype: int64
0    556
1      7
Name: Wicket, dtype: int64
0    353
1     13
Name: Wicket, dtype: int64
0    461
1      9
Name: Wicket, dtype: int64
0    457
1      9
Name: Wicket, dtype: int64
0    598
1      8
Name: Wicket, dtype: int64
0    598
1     11
Name: Wicket, dtype: int64
0    573
1     12
Name: Wicket, dtype: int64
0    441
1      6
Name: Wicket, dtype: int64
0    337
1     13
Name: Wicket, dtype: int64
0    603
1     11
Name: Wicket, dtype: int64
0    494
1     13
Name: Wicket, dtype: int64
0    562
1     13
Name: Wicket, dtype: int64
0    510
1     12
Name: Wicket, dtype: int64
0    18
Name: Wicket, dtype: int64
0    607
1      7
Name: Wicket, dtype: int64
0    592
1     12
Name: Wicket, dtype: int64
0    501
1      8
Name: Wicket, dtype: int64
0    533
1      9
Name: Wicket, dtype: int64
0    592
1      6
Name: Wicket, dtype: int64
0    537
1     13
Name: Wicket, dtype: int64
0    587
1     11
Name: Wicket, dtype: int64
0    574
1     13
Name: Wicket, dtype: int64
0    602
1      9
Name: Wicket, dtype: int64
0    617
1     13
Name: Wicket, dtype: int64
0    585
1     17
Name: Wicket, dtype: int64
0    583
1     16
Name: Wicket, dtype: int64
0    536
1     12
Name: Wicket, dtype: int64
0    601
1      6
Name: Wicket, dtype: int64
0    500
1     10
Name: Wicket, dtype: int64
0    603
1      8
Name: Wicket, dtype: int64
0    267
1     11
Name: Wicket, dtype: int64
0    549
1     13
Name: Wicket, dtype: int64
0    562
1     10
Name: Wicket, dtype: int64
0    458
1     12
Name: Wicket, dtype: int64
0    571
1      6
Name: Wicket, dtype: int64
0    599
1     17
Name: Wicket, dtype: int64
0    487
1     11
Name: Wicket, dtype: int64
0    611
1     10
Name: Wicket, dtype: int64
0    215
1     12
Name: Wicket, dtype: int64
0    544
1      8
Name: Wicket, dtype: int64
0    578
1     11
Name: Wicket, dtype: int64
0    395
1     16
Name: Wicket, dtype: int64
0    560
1     14
Name: Wicket, dtype: int64
0    551
1     10
Name: Wicket, dtype: int64
0    105
1      3
Name: Wicket, dtype: int64
0    608
1     13
Name: Wicket, dtype: int64
0    540
1      8
Name: Wicket, dtype: int64
0    588
1      8
Name: Wicket, dtype: int64
0    527
1      9
Name: Wicket, dtype: int64
0    565
1      9
Name: Wicket, dtype: int64
0    596
1     13
Name: Wicket, dtype: int64
0    583
1     17
Name: Wicket, dtype: int64
0    607
1     16
Name: Wicket, dtype: int64
0    597
1     15
Name: Wicket, dtype: int64
0    505
1     16
Name: Wicket, dtype: int64
0    560
1     12
Name: Wicket, dtype: int64
0    586
1     11
Name: Wicket, dtype: int64
0    456
1     17
Name: Wicket, dtype: int64
0    557
1      9
Name: Wicket, dtype: int64
0    34
1     2
Name: Wicket, dtype: int64
0    500
1     10
Name: Wicket, dtype: int64
0    312
1      9
Name: Wicket, dtype: int64
0    297
1      4
Name: Wicket, dtype: int64
0    482
1     12
Name: Wicket, dtype: int64
0    536
1     12
Name: Wicket, dtype: int64
0    559
1     19
Name: Wicket, dtype: int64
0    545
1     16
Name: Wicket, dtype: int64
0    598
1      9
Name: Wicket, dtype: int64
0    472
1      8
Name: Wicket, dtype: int64
0    598
1     13
Name: Wicket, dtype: int64
0    475
1     11
Name: Wicket, dtype: int64
0    588
1     14
Name: Wicket, dtype: int64
0    578
1     10
Name: Wicket, dtype: int64
0    599
1     16
Name: Wicket, dtype: int64
0    519
1     11
Name: Wicket, dtype: int64
0    365
1     13
Name: Wicket, dtype: int64
0    598
1     12
Name: Wicket, dtype: int64
0    598
1      8
Name: Wicket, dtype: int64
0    366
1      8
Name: Wicket, dtype: int64
0    542
1     11
Name: Wicket, dtype: int64
0    474
1     14
Name: Wicket, dtype: int64
0    465
1     16
Name: Wicket, dtype: int64
0    128
1      5
Name: Wicket, dtype: int64

0    99
1     4
Name: Wicket, dtype: int64
0    588
1     14
Name: Wicket, dtype: int64
0    544
1      9
Name: Wicket, dtype: int64
0    557
1     12
Name: Wicket, dtype: int64
0    252
1      8
Name: Wicket, dtype: int64
0    573
1     19
Name: Wicket, dtype: int64
0    599
1     13
Name: Wicket, dtype: int64
0    587
1     14
Name: Wicket, dtype: int64
0    601
1     12
Name: Wicket, dtype: int64
0    222
1      9
Name: Wicket, dtype: int64
0    556
1     13
Name: Wicket, dtype: int64
0    299
1      8
Name: Wicket, dtype: int64
0    13
1     1
Name: Wicket, dtype: int64
0    322
1      4
Name: Wicket, dtype: int64
0    590
1     13
Name: Wicket, dtype: int64
0    589
1     13
Name: Wicket, dtype: int64
0    619
1      8
Name: Wicket, dtype: int64
0    394
1      8
Name: Wicket, dtype: int64
0    599
1     12
Name: Wicket, dtype: int64
0    542
1     15
Name: Wicket, dtype: int64
0    585
1      7
Name: Wicket, dtype: int64
0    625
1     13
Name: Wicket, dtype: int64
0    594
1     12
Name: Wicket, dtype: int64
0    577
1      5
Name: Wicket, dtype: int64
0    609
1     13
Name: Wicket, dtype: int64
0    601
1     13
Name: Wicket, dtype: int64
0    532
1      8
Name: Wicket, dtype: int64
0    572
1     10
Name: Wicket, dtype: int64
0    426
1      9
Name: Wicket, dtype: int64
0    583
1     15
Name: Wicket, dtype: int64
0    598
1      8
Name: Wicket, dtype: int64
0    585
1     10
Name: Wicket, dtype: int64
0    493
1      7
Name: Wicket, dtype: int64
0    582
1     10
Name: Wicket, dtype: int64
0    606
1     14
Name: Wicket, dtype: int64
0    581
1     12
Name: Wicket, dtype: int64
0    528
1     10
Name: Wicket, dtype: int64
0    575
1     18
Name: Wicket, dtype: int64
0    529
1     11
Name: Wicket, dtype: int64
0    560
1      8
Name: Wicket, dtype: int64
0    257
1     10
Name: Wicket, dtype: int64
0    472
1     10
Name: Wicket, dtype: int64
0    318
1      6
Name: Wicket, dtype: int64
0    561
1      9
Name: Wicket, dtype: int64
0    603
1     11
Name: Wicket, dtype: int64
0    518
1     10
Name: Wicket, dtype: int64
0    588
1      6
Name: Wicket, dtype: int64
0    544
1      9
Name: Wicket, dtype: int64
0    598
1     14
Name: Wicket, dtype: int64
0    424
1      7
Name: Wicket, dtype: int64
0    559
1      9
Name: Wicket, dtype: int64
0    493
1     14
Name: Wicket, dtype: int64
0    600
1     11
Name: Wicket, dtype: int64
0    570
1     17
Name: Wicket, dtype: int64
0    577
1     12
Name: Wicket, dtype: int64
0    605
1     10
Name: Wicket, dtype: int64
0    301
1      7
Name: Wicket, dtype: int64
0    407
1      8
Name: Wicket, dtype: int64
0    541
1     13
Name: Wicket, dtype: int64
0    547
1     11
Name: Wicket, dtype: int64
0    536
1      9
Name: Wicket, dtype: int64
0    602
1     12
Name: Wicket, dtype: int64
0    533
1     17
Name: Wicket, dtype: int64
0    512
1      7
Name: Wicket, dtype: int64
0    586
1      8
Name: Wicket, dtype: int64
0    463
1     11
Name: Wicket, dtype: int64
0    574
1     13
Name: Wicket, dtype: int64
0    257
1      6
Name: Wicket, dtype: int64
0    43
Name: Wicket, dtype: int64
0    371
1      8
Name: Wicket, dtype: int64
0    345
1     10
Name: Wicket, dtype: int64
0    575
1     15
Name: Wicket, dtype: int64
0    607
1      9
Name: Wicket, dtype: int64
0    576
1     11
Name: Wicket, dtype: int64
0    605
1     11
Name: Wicket, dtype: int64
0    590
1      5
Name: Wicket, dtype: int64
0    471
1      9
Name: Wicket, dtype: int64
0    583
1     12
Name: Wicket, dtype: int64
0    528
1     12
Name: Wicket, dtype: int64
0    610
1     15
Name: Wicket, dtype: int64
0    520
1      9
Name: Wicket, dtype: int64
0    524
1     12
Name: Wicket, dtype: int64
0    557
1      7
Name: Wicket, dtype: int64
0    566
1      9
Name: Wicket, dtype: int64
0    597
1     13
Name: Wicket, dtype: int64
0    527
1     14
Name: Wicket, dtype: int64
0    574
1      8
Name: Wicket, dtype: int64
0    583
1      7
Name: Wicket, dtype: int64
0    353
1      8
Name: Wicket, dtype: int64
0    520
1     16
Name: Wicket, dtype: int64
0    463
1     13
Name: Wicket, dtype: int64
0    357
1      8
Name: Wicket, dtype: int64
0    476
1     10
Name: Wicket, dtype: int64
0    483
1      8
Name: Wicket, dtype: int64
0    468
1     11
Name: Wicket, dtype: int64
0    595
1     12
Name: Wicket, dtype: int64
0    457
1     12
Name: Wicket, dtype: int64
0    483
1     13
Name: Wicket, dtype: int64
0    440
1      6
Name: Wicket, dtype: int64
0    602
1     11
Name: Wicket, dtype: int64
0    570
1     10
Name: Wicket, dtype: int64
0    536
1     17
Name: Wicket, dtype: int64
0    478
1     15
Name: Wicket, dtype: int64
0    517
1     14
Name: Wicket, dtype: int64
0    513
1     10
Name: Wicket, dtype: int64
0    587
1     12
Name: Wicket, dtype: int64
0    607
1      8
Name: Wicket, dtype: int64
0    576
1     13
Name: Wicket, dtype: int64
0    593
1      9
Name: Wicket, dtype: int64
0    543
1     11
Name: Wicket, dtype: int64
0    589
1     12
Name: Wicket, dtype: int64
0    545
1     15
Name: Wicket, dtype: int64
0    520
1     11
Name: Wicket, dtype: int64
0    578
1     14
Name: Wicket, dtype: int64
0    497
1     13
Name: Wicket, dtype: int64
0    401
1     10
Name: Wicket, dtype: int64
0    600
1      9
Name: Wicket, dtype: int64
0    570
1     14
Name: Wicket, dtype: int64
0    572
1     13
Name: Wicket, dtype: int64
0    595
1     13
Name: Wicket, dtype: int64
0    598
1     12
Name: Wicket, dtype: int64
0    577
1     12
Name: Wicket, dtype: int64
0    516
1     11
Name: Wicket, dtype: int64
0    595
1     14
Name: Wicket, dtype: int64
0    588
1     13
Name: Wicket, dtype: int64
0    591
1      8
Name: Wicket, dtype: int64
0    575
1     16
Name: Wicket, dtype: int64
0    587
1     11
Name: Wicket, dtype: int64
0    209
1      9
Name: Wicket, dtype: int64
0    592
1      9
Name: Wicket, dtype: int64
0    594
1     13
Name: Wicket, dtype: int64
0    333
1     11
Name: Wicket, dtype: int64
0    411
1      9
Name: Wicket, dtype: int64
0    337
1     13
Name: Wicket, dtype: int64
0    613
1     10
Name: Wicket, dtype: int64
0    527
1     11
Name: Wicket, dtype: int64
0    582
1     13
Name: Wicket, dtype: int64
0    530
1     14
Name: Wicket, dtype: int64
0    260
1     11
Name: Wicket, dtype: int64
0    568
1      5
Name: Wicket, dtype: int64
0    574
1     13
Name: Wicket, dtype: int64
0    390
1     11
Name: Wicket, dtype: int64
0    433
1      4
Name: Wicket, dtype: int64
0    356
1     10
Name: Wicket, dtype: int64
0    169
1      3
Name: Wicket, dtype: int64
0    575
1     10
Name: Wicket, dtype: int64
0    210
1      5
Name: Wicket, dtype: int64
0    371
1     10
Name: Wicket, dtype: int64
0    603
1     14
Name: Wicket, dtype: int64
0    589
1     13
Name: Wicket, dtype: int64
0    399
1     10
Name: Wicket, dtype: int64
0    290
1     10
Name: Wicket, dtype: int64
0    340
1     12
Name: Wicket, dtype: int64
0    565
1     12
Name: Wicket, dtype: int64
0    602
1     13
Name: Wicket, dtype: int64
0    496
1     12
Name: Wicket, dtype: int64
0    290
1      9
Name: Wicket, dtype: int64
0    43
Name: Wicket, dtype: int64
0    578
1     11
Name: Wicket, dtype: int64
0    323
1     10
Name: Wicket, dtype: int64
0    418
1      8
Name: Wicket, dtype: int64
0    448
1      9
Name: Wicket, dtype: int64
0    597
1     12
Name: Wicket, dtype: int64
0    414
1     12
Name: Wicket, dtype: int64
0    584
1     10
Name: Wicket, dtype: int64
0    547
1      9
Name: Wicket, dtype: int64
0    511
1     13
Name: Wicket, dtype: int64
0    436
1     10
Name: Wicket, dtype: int64
0    594
1      7
Name: Wicket, dtype: int64
0    601
1     12
Name: Wicket, dtype: int64
0    551
1     11
Name: Wicket, dtype: int64
0    589
1     14
Name: Wicket, dtype: int64
0    592
1     13
Name: Wicket, dtype: int64
0    581
1     12
Name: Wicket, dtype: int64
0    542
1     15
Name: Wicket, dtype: int64
0    406
1      9
Name: Wicket, dtype: int64
0    540
1      9
Name: Wicket, dtype: int64
0    484
1     14
Name: Wicket, dtype: int64
0    541
1     10
Name: Wicket, dtype: int64
0    492
1     14
Name: Wicket, dtype: int64
0    545
1     11
Name: Wicket, dtype: int64
0    580
1     13
Name: Wicket, dtype: int64
0    557
1      9
Name: Wicket, dtype: int64

0    594
1      5
Name: Wicket, dtype: int64
0    560
1     11
Name: Wicket, dtype: int64
0    603
1     11
Name: Wicket, dtype: int64
0    588
1     13
Name: Wicket, dtype: int64
0    563
1     14
Name: Wicket, dtype: int64
0    547
1      9
Name: Wicket, dtype: int64
0    583
1      8
Name: Wicket, dtype: int64
0    517
1     14
Name: Wicket, dtype: int64
0    503
1     15
Name: Wicket, dtype: int64
0    509
1     13
Name: Wicket, dtype: int64
0    528
1     13
Name: Wicket, dtype: int64
0    514
1      9
Name: Wicket, dtype: int64
0    588
1     11
Name: Wicket, dtype: int64
0    499
1     17
Name: Wicket, dtype: int64
0    400
1      8
Name: Wicket, dtype: int64
0    306
1      9
Name: Wicket, dtype: int64
0    594
1     14
Name: Wicket, dtype: int64
0    517
1     12
Name: Wicket, dtype: int64
0    586
1     13
Name: Wicket, dtype: int64
0    516
1     13
Name: Wicket, dtype: int64
0    582
1     13
Name: Wicket, dtype: int64
0    517
1     16
Name: Wicket, dtype: int64
0    586
1     15
Name: Wicket, dtype: int64
0    496
1      9
Name: Wicket, dtype: int64
0    579
1      8
Name: Wicket, dtype: int64
0    559
1     15
Name: Wicket, dtype: int64
0    605
1     10
Name: Wicket, dtype: int64
0    565
1     10
Name: Wicket, dtype: int64
0    294
1      8
Name: Wicket, dtype: int64
0    524
1     11
Name: Wicket, dtype: int64
0    394
1     13
Name: Wicket, dtype: int64
0    528
1     12
Name: Wicket, dtype: int64
0    572
1     11
Name: Wicket, dtype: int64
0    593
1     14
Name: Wicket, dtype: int64
0    575
1     15
Name: Wicket, dtype: int64
0    580
1     15
Name: Wicket, dtype: int64
0    595
1     15
Name: Wicket, dtype: int64
0    255
1      3
Name: Wicket, dtype: int64
0    422
1     14
Name: Wicket, dtype: int64
0    600
1     12
Name: Wicket, dtype: int64
0    412
1     11
Name: Wicket, dtype: int64
0    538
1      9
Name: Wicket, dtype: int64
0    590
1     12
Name: Wicket, dtype: int64
0    573
1      7
Name: Wicket, dtype: int64
0    602
1     10
Name: Wicket, dtype: int64
0    600
1     12
Name: Wicket, dtype: int64
0    593
1      6
Name: Wicket, dtype: int64
0    586
1     11
Name: Wicket, dtype: int64
0    601
1     11
Name: Wicket, dtype: int64
0    535
1     10
Name: Wicket, dtype: int64
0    486
1     12
Name: Wicket, dtype: int64
0    469
1     10
Name: Wicket, dtype: int64
0    486
1     15
Name: Wicket, dtype: int64
0    217
1      8
Name: Wicket, dtype: int64
0    595
1     12
Name: Wicket, dtype: int64
0    562
1     16
Name: Wicket, dtype: int64
0    470
1      8
Name: Wicket, dtype: int64
0    567
1     14
Name: Wicket, dtype: int64
0    582
1     15
Name: Wicket, dtype: int64
0    560
1     13
Name: Wicket, dtype: int64
0    560
1     12
Name: Wicket, dtype: int64
0    453
1      9
Name: Wicket, dtype: int64
0    574
1     17
Name: Wicket, dtype: int64
0    548
1     16
Name: Wicket, dtype: int64
0    573
1     11
Name: Wicket, dtype: int64
0    570
1     11
Name: Wicket, dtype: int64
0    567
1     16
Name: Wicket, dtype: int64
0    552
1     12
Name: Wicket, dtype: int64
0    576
1     15
Name: Wicket, dtype: int64
0    577
1      8
Name: Wicket, dtype: int64
0    604
1     12
Name: Wicket, dtype: int64
0    567
1     14
Name: Wicket, dtype: int64
0    546
1     10
Name: Wicket, dtype: int64
0    591
1      9
Name: Wicket, dtype: int64
0    602
1     11
Name: Wicket, dtype: int64
0    490
1     13
Name: Wicket, dtype: int64
0    597
1     11
Name: Wicket, dtype: int64
0    565
1     16
Name: Wicket, dtype: int64
0    572
1     17
Name: Wicket, dtype: int64
0    514
1     12
Name: Wicket, dtype: int64
0    533
1     13
Name: Wicket, dtype: int64
0    584
1     13
Name: Wicket, dtype: int64
0    573
1     11
Name: Wicket, dtype: int64
0    603
1     10
Name: Wicket, dtype: int64
0    505
1     12
Name: Wicket, dtype: int64
0    613
1     12
Name: Wicket, dtype: int64
0    590
1     10
Name: Wicket, dtype: int64
0    519
1     11
Name: Wicket, dtype: int64
0    598
1      8
Name: Wicket, dtype: int64
0    144
1      2
Name: Wicket, dtype: int64
0    614
1      9
Name: Wicket, dtype: int64
0    192
1      5
Name: Wicket, dtype: int64
0    520
1     12
Name: Wicket, dtype: int64
0    579
1     10
Name: Wicket, dtype: int64
0    591
1     10
Name: Wicket, dtype: int64
0    511
1     10
Name: Wicket, dtype: int64
0    542
1      7
Name: Wicket, dtype: int64
0    490
1     11
Name: Wicket, dtype: int64
0    560
1     14
Name: Wicket, dtype: int64
0    598
1     15
Name: Wicket, dtype: int64
0    595
1     12
Name: Wicket, dtype: int64
0    488
1     12
Name: Wicket, dtype: int64
0    548
1     14
Name: Wicket, dtype: int64
0    378
1      7
Name: Wicket, dtype: int64
0    600
1     12
Name: Wicket, dtype: int64
0    517
1      7
Name: Wicket, dtype: int64
0    528
1     12
Name: Wicket, dtype: int64
0    480
1      4
Name: Wicket, dtype: int64
0    180
1     10
Name: Wicket, dtype: int64
0    196
1      2
Name: Wicket, dtype: int64
0    569
1      6
Name: Wicket, dtype: int64
0    555
1     13
Name: Wicket, dtype: int64
0    573
1     13
Name: Wicket, dtype: int64
0    553
1     11
Name: Wicket, dtype: int64
0    494
1     10
Name: Wicket, dtype: int64
0    536
1     14
Name: Wicket, dtype: int64
0    583
1     17
Name: Wicket, dtype: int64
0    596
1     14
Name: Wicket, dtype: int64
0    584
1     14
Name: Wicket, dtype: int64
0    601
1     13
Name: Wicket, dtype: int64
0    609
1      8
Name: Wicket, dtype: int64
0    447
1      8
Name: Wicket, dtype: int64
0    521
1      7
Name: Wicket, dtype: int64
0    493
1     13
Name: Wicket, dtype: int64
0    483
1     13
Name: Wicket, dtype: int64
0    556
1     15
Name: Wicket, dtype: int64
0    516
1     11
Name: Wicket, dtype: int64
0    585
1      9
Name: Wicket, dtype: int64
0    522
1     13
Name: Wicket, dtype: int64
0    459
1     14
Name: Wicket, dtype: int64
0    520
1      7
Name: Wicket, dtype: int64
0    544
1     17
Name: Wicket, dtype: int64
0    387
1      6
Name: Wicket, dtype: int64
0    593
1      9
Name: Wicket, dtype: int64
0    548
1     16
Name: Wicket, dtype: int64
0    538
1      4
Name: Wicket, dtype: int64
0    574
1     12
Name: Wicket, dtype: int64
0    594
1     15
Name: Wicket, dtype: int64
0    595
1      6
Name: Wicket, dtype: int64
0    582
1      7
Name: Wicket, dtype: int64
0    600
1     12
Name: Wicket, dtype: int64
0    605
1      7
Name: Wicket, dtype: int64
0    566
1      6
Name: Wicket, dtype: int64
0    476
1     10
Name: Wicket, dtype: int64
0    558
1      8
Name: Wicket, dtype: int64
0    578
1     11
Name: Wicket, dtype: int64
0    609
1      8
Name: Wicket, dtype: int64
0    592
1     10
Name: Wicket, dtype: int64
0    488
1     14
Name: Wicket, dtype: int64
0    494
1     12
Name: Wicket, dtype: int64
0    467
1     13
Name: Wicket, dtype: int64
0    551
1     16
Name: Wicket, dtype: int64
0    593
1     11
Name: Wicket, dtype: int64
0    500
1     15
Name: Wicket, dtype: int64
0    599
1      9
Name: Wicket, dtype: int64
0    605
1     12
Name: Wicket, dtype: int64
0    602
1     12
Name: Wicket, dtype: int64
0    562
1     11
Name: Wicket, dtype: int64
0    560
1     11
Name: Wicket, dtype: int64
0    568
1     12
Name: Wicket, dtype: int64
0    473
1      9
Name: Wicket, dtype: int64
0    337
1     10
Name: Wicket, dtype: int64
0    595
1     13
Name: Wicket, dtype: int64
0    561
1     15
Name: Wicket, dtype: int64
0    571
1      9
Name: Wicket, dtype: int64
0    593
1     14
Name: Wicket, dtype: int64
0    570
1     19
Name: Wicket, dtype: int64
0    600
1     10
Name: Wicket, dtype: int64
0    585
1     15
Name: Wicket, dtype: int64
0    506
1     11
Name: Wicket, dtype: int64
0    535
1      9
Name: Wicket, dtype: int64
0    488
1      7
Name: Wicket, dtype: int64
0    439
1      9
Name: Wicket, dtype: int64
0    597
1      6
Name: Wicket, dtype: int64
0    557
1      8
Name: Wicket, dtype: int64
0    238
1      9
Name: Wicket, dtype: int64
0    529
1      9
Name: Wicket, dtype: int64
0    588
1      9
Name: Wicket, dtype: int64
0    576
1      8
Name: Wicket, dtype: int64
0    504
1      8
Name: Wicket, dtype: int64
0    580
1     16
Name: Wicket, dtype: int64
0    400
1     10
Name: Wicket, dtype: int64
0    547
1     11
Name: Wicket, dtype: int64

0    596
1     12
Name: Wicket, dtype: int64
0    604
1      8
Name: Wicket, dtype: int64
0    475
1      9
Name: Wicket, dtype: int64
0    572
1     13
Name: Wicket, dtype: int64
0    468
1     15
Name: Wicket, dtype: int64
0    486
1     10
Name: Wicket, dtype: int64
0    535
1     15
Name: Wicket, dtype: int64
0    466
1     16
Name: Wicket, dtype: int64
0    292
1      9
Name: Wicket, dtype: int64
0    586
1     16
Name: Wicket, dtype: int64
0    538
1      8
Name: Wicket, dtype: int64
0    602
1      8
Name: Wicket, dtype: int64
0    599
1     14
Name: Wicket, dtype: int64
0    608
1      9
Name: Wicket, dtype: int64
0    567
1     14
Name: Wicket, dtype: int64
0    605
1     10
Name: Wicket, dtype: int64
0    528
1     12
Name: Wicket, dtype: int64
0    468
1     15
Name: Wicket, dtype: int64
0    509
1     16
Name: Wicket, dtype: int64
0    530
1     14
Name: Wicket, dtype: int64
0    580
1     14
Name: Wicket, dtype: int64
0    497
1      9
Name: Wicket, dtype: int64
0    512
1     15
Name: Wicket, dtype: int64
0    594
1      7
Name: Wicket, dtype: int64
0    404
1      5
Name: Wicket, dtype: int64
0    402
1     13
Name: Wicket, dtype: int64
0    296
1      4
Name: Wicket, dtype: int64
0    564
1      8
Name: Wicket, dtype: int64
0    593
1     15
Name: Wicket, dtype: int64
0    558
1     18
Name: Wicket, dtype: int64
0    558
1      9
Name: Wicket, dtype: int64
0    545
1      6
Name: Wicket, dtype: int64
0    596
1     11
Name: Wicket, dtype: int64
0    281
1      9
Name: Wicket, dtype: int64
0    260
1      3
Name: Wicket, dtype: int64
0    332
1     10
Name: Wicket, dtype: int64
0    24
Name: Wicket, dtype: int64
0    597
1     15
Name: Wicket, dtype: int64
0    598
1     12
Name: Wicket, dtype: int64
0    578
1     14
Name: Wicket, dtype: int64
0    564
1     14
Name: Wicket, dtype: int64
0    355
1     13
Name: Wicket, dtype: int64
0    576
1     13
Name: Wicket, dtype: int64
0    595
1      8
Name: Wicket, dtype: int64
0    406
1      7
Name: Wicket, dtype: int64
0    581
1     17
Name: Wicket, dtype: int64
0    335
1      8
Name: Wicket, dtype: int64
0    267
1      8
Name: Wicket, dtype: int64
0    551
1     11
Name: Wicket, dtype: int64
0    595
1      9
Name: Wicket, dtype: int64
0    493
1      8
Name: Wicket, dtype: int64
0    517
1     14
Name: Wicket, dtype: int64
0    498
1     10
Name: Wicket, dtype: int64
0    581
1     13
Name: Wicket, dtype: int64
0    564
1     14
Name: Wicket, dtype: int64
0    382
1     13
Name: Wicket, dtype: int64
0    583
1     13
Name: Wicket, dtype: int64
0    515
1      9
Name: Wicket, dtype: int64
0    597
1     12
Name: Wicket, dtype: int64
0    560
1      7
Name: Wicket, dtype: int64
0    573
1      5
Name: Wicket, dtype: int64
0    587
1      8
Name: Wicket, dtype: int64
0    500
1     12
Name: Wicket, dtype: int64
0    478
1     11
Name: Wicket, dtype: int64
0    396
1      6
Name: Wicket, dtype: int64
0    571
1     10
Name: Wicket, dtype: int64
0    505
1     11
Name: Wicket, dtype: int64
0    578
1     12
Name: Wicket, dtype: int64
0    530
1     15
Name: Wicket, dtype: int64
0    590
1     11
Name: Wicket, dtype: int64
0    603
1      9
Name: Wicket, dtype: int64
0    455
1      6
Name: Wicket, dtype: int64
0    598
1     10
Name: Wicket, dtype: int64
0    524
1     12
Name: Wicket, dtype: int64
0    302
1     10
Name: Wicket, dtype: int64
0    592
1     13
Name: Wicket, dtype: int64
0    586
1     11
Name: Wicket, dtype: int64
0    415
1     15
Name: Wicket, dtype: int64
0    588
1      8
Name: Wicket, dtype: int64
0    505
1      8
Name: Wicket, dtype: int64
0    592
1     10
Name: Wicket, dtype: int64
0    601
1     11
Name: Wicket, dtype: int64
0    465
1     13
Name: Wicket, dtype: int64
0    529
1     11
Name: Wicket, dtype: int64
0    567
1     15
Name: Wicket, dtype: int64
0    392
1     11
Name: Wicket, dtype: int64
0    566
1     15
Name: Wicket, dtype: int64
0    366
1     14
Name: Wicket, dtype: int64
0    575
1     12
Name: Wicket, dtype: int64
0    586
1     16
Name: Wicket, dtype: int64
0    596
1     10
Name: Wicket, dtype: int64
0    599
1      8
Name: Wicket, dtype: int64
0    391
1      6
Name: Wicket, dtype: int64
0    569
1     14
Name: Wicket, dtype: int64
0    578
1     15
Name: Wicket, dtype: int64
0    589
1     12
Name: Wicket, dtype: int64
0    536
1     15
Name: Wicket, dtype: int64
0    526
1      4
Name: Wicket, dtype: int64
0    591
1     14
Name: Wicket, dtype: int64
0    595
1     15
Name: Wicket, dtype: int64
0    572
1      5
Name: Wicket, dtype: int64
0    579
1     17
Name: Wicket, dtype: int64
0    537
1     11
Name: Wicket, dtype: int64
0    600
1     13
Name: Wicket, dtype: int64
0    563
1     11
Name: Wicket, dtype: int64
0    571
1     12
Name: Wicket, dtype: int64
0    508
1     12
Name: Wicket, dtype: int64
0    540
1     10
Name: Wicket, dtype: int64
0    521
1     10
Name: Wicket, dtype: int64
0    518
1      9
Name: Wicket, dtype: int64
0    600
1      5
Name: Wicket, dtype: int64
0    515
1     11
Name: Wicket, dtype: int64
0    514
1     15
Name: Wicket, dtype: int64
0    533
1     13
Name: Wicket, dtype: int64
0    551
1     11
Name: Wicket, dtype: int64
0    588
1     11
Name: Wicket, dtype: int64
0    513
1     11
Name: Wicket, dtype: int64
0    527
1     12
Name: Wicket, dtype: int64
0    600
1      9
Name: Wicket, dtype: int64
0    562
1      4
Name: Wicket, dtype: int64
0    600
1     12
Name: Wicket, dtype: int64
0    584
1     14
Name: Wicket, dtype: int64
0    580
1     12
Name: Wicket, dtype: int64
0    562
1      7
Name: Wicket, dtype: int64
0    591
1     13
Name: Wicket, dtype: int64
0    602
1     12
Name: Wicket, dtype: int64
0    382
1      9
Name: Wicket, dtype: int64
0    592
1      9
Name: Wicket, dtype: int64
0    595
1     13
Name: Wicket, dtype: int64
0    570
1     12
Name: Wicket, dtype: int64
0    588
1     13
Name: Wicket, dtype: int64
0    508
1     11
Name: Wicket, dtype: int64
0    599
1      9
Name: Wicket, dtype: int64
0    524
1      8
Name: Wicket, dtype: int64
0    594
1     11
Name: Wicket, dtype: int64
0    600
1     11
Name: Wicket, dtype: int64
0    550
1      9
Name: Wicket, dtype: int64
0    244
1      8
Name: Wicket, dtype: int64
0    500
1     13
Name: Wicket, dtype: int64
0    573
1      8
Name: Wicket, dtype: int64
0    58
1     1
Name: Wicket, dtype: int64
0    599
1     10
Name: Wicket, dtype: int64
0    583
1      8
Name: Wicket, dtype: int64
0    587
1      9
Name: Wicket, dtype: int64
0    353
1      7
Name: Wicket, dtype: int64
0    30
Name: Wicket, dtype: int64
0    531
1     13
Name: Wicket, dtype: int64
0    562
1     12
Name: Wicket, dtype: int64
0    588
1      9
Name: Wicket, dtype: int64
0    478
1     11
Name: Wicket, dtype: int64
0    582
1     14
Name: Wicket, dtype: int64
0    570
1     12
Name: Wicket, dtype: int64
0    506
1     14
Name: Wicket, dtype: int64
0    602
1      9
Name: Wicket, dtype: int64
0    594
1      8
Name: Wicket, dtype: int64
0    524
1     12
Name: Wicket, dtype: int64
0    596
1     14
Name: Wicket, dtype: int64
0    597
1     15
Name: Wicket, dtype: int64
0    591
1     12
Name: Wicket, dtype: int64
0    580
1      9
Name: Wicket, dtype: int64
0    594
1     11
Name: Wicket, dtype: int64
0    567
1      9
Name: Wicket, dtype: int64
0    329
1     13
Name: Wicket, dtype: int64
0    611
1     11
Name: Wicket, dtype: int64
0    498
1     13
Name: Wicket, dtype: int64
0    485
1     15
Name: Wicket, dtype: int64
0    464
1     10
Name: Wicket, dtype: int64
0    590
1     15
Name: Wicket, dtype: int64
0    584
1     16
Name: Wicket, dtype: int64
0    578
1     17
Name: Wicket, dtype: int64
0    542
1     11
Name: Wicket, dtype: int64
0    508
1     13
Name: Wicket, dtype: int64
0    390
1      8
Name: Wicket, dtype: int64
0    515
1      6
Name: Wicket, dtype: int64
0    475
1     15
Name: Wicket, dtype: int64
0    450
1      8
Name: Wicket, dtype: int64
0    589
1     10
Name: Wicket, dtype: int64
0    503
1     11
Name: Wicket, dtype: int64
0    604
1     15
Name: Wicket, dtype: int64
0    595
1     17
Name: Wicket, dtype: int64
0    467
1      8
Name: Wicket, dtype: int64
0    573
1      8
Name: Wicket, dtype: int64
0    34
Name: Wicket, dtype: int64

0    576
1     14
Name: Wicket, dtype: int64
0    599
1     11
Name: Wicket, dtype: int64
0    608
1     10
Name: Wicket, dtype: int64
0    326
1      8
Name: Wicket, dtype: int64
0    605
1      5
Name: Wicket, dtype: int64
0    557
1     10
Name: Wicket, dtype: int64
0    575
1     11
Name: Wicket, dtype: int64
0    608
1     10
Name: Wicket, dtype: int64
0    512
1     11
Name: Wicket, dtype: int64
0    424
1     11
Name: Wicket, dtype: int64
0    585
1      7
Name: Wicket, dtype: int64
0    582
1     11
Name: Wicket, dtype: int64
0    581
1     14
Name: Wicket, dtype: int64
0    563
1     12
Name: Wicket, dtype: int64
0    582
1     11
Name: Wicket, dtype: int64
0    560
1      7
Name: Wicket, dtype: int64
0    558
1     15
Name: Wicket, dtype: int64
0    89
1     1
Name: Wicket, dtype: int64
0    580
1     12
Name: Wicket, dtype: int64
0    580
1     16
Name: Wicket, dtype: int64
0    454
1     10
Name: Wicket, dtype: int64
0    510
1     10
Name: Wicket, dtype: int64
0    232
1     13
Name: Wicket, dtype: int64
0    566
1     11
Name: Wicket, dtype: int64
0    592
1     11
Name: Wicket, dtype: int64
0    600
1     15
Name: Wicket, dtype: int64
0    515
1     11
Name: Wicket, dtype: int64
0    495
1     12
Name: Wicket, dtype: int64
0    595
1     14
Name: Wicket, dtype: int64
0    597
1     11
Name: Wicket, dtype: int64
0    563
1     13
Name: Wicket, dtype: int64
0    585
1     15
Name: Wicket, dtype: int64
0    572
1     11
Name: Wicket, dtype: int64
0    485
1     12
Name: Wicket, dtype: int64
0    555
1     13
Name: Wicket, dtype: int64
0    576
1      8
Name: Wicket, dtype: int64
0    582
1     13
Name: Wicket, dtype: int64
0    559
1     15
Name: Wicket, dtype: int64
0    541
1     11
Name: Wicket, dtype: int64
0    517
1      9
Name: Wicket, dtype: int64
0    270
1     15
Name: Wicket, dtype: int64
0    314
1      5
Name: Wicket, dtype: int64
0    586
1     12
Name: Wicket, dtype: int64
0    194
1     11
Name: Wicket, dtype: int64
0    535
1     12
Name: Wicket, dtype: int64
0    580
1     15
Name: Wicket, dtype: int64
0    572
1     12
Name: Wicket, dtype: int64
0    600
1     13
Name: Wicket, dtype: int64
0    603
1     13
Name: Wicket, dtype: int64
0    528
1     15
Name: Wicket, dtype: int64
0    593
1     14
Name: Wicket, dtype: int64
0    441
1     10
Name: Wicket, dtype: int64
0    566
1     12
Name: Wicket, dtype: int64
0    532
1      9
Name: Wicket, dtype: int64
0    387
1      8
Name: Wicket, dtype: int64
0    584
1      7
Name: Wicket, dtype: int64
0    345
1      9
Name: Wicket, dtype: int64
0    349
1      9
Name: Wicket, dtype: int64
0    282
1     14
Name: Wicket, dtype: int64
0    560
1     13
Name: Wicket, dtype: int64
0    439
1      9
Name: Wicket, dtype: int64
0    389
1      6
Name: Wicket, dtype: int64
0    357
1      8
Name: Wicket, dtype: int64
0    163
1      7
Name: Wicket, dtype: int64
0    524
1      9
Name: Wicket, dtype: int64
0    487
1     14
Name: Wicket, dtype: int64
0    582
1     15
Name: Wicket, dtype: int64
0    513
1     15
Name: Wicket, dtype: int64
0    564
1     12
Name: Wicket, dtype: int64
0    588
1     10
Name: Wicket, dtype: int64
0    577
1     14
Name: Wicket, dtype: int64
0    555
1     12
Name: Wicket, dtype: int64
0    593
1     10
Name: Wicket, dtype: int64
0    602
1     12
Name: Wicket, dtype: int64
0    582
1      8
Name: Wicket, dtype: int64
0    513
1     11
Name: Wicket, dtype: int64
0    587
1     13
Name: Wicket, dtype: int64
0    574
1     10
Name: Wicket, dtype: int64
0    511
1     14
Name: Wicket, dtype: int64
0    498
1     14
Name: Wicket, dtype: int64
0    321
1     11
Name: Wicket, dtype: int64
0    585
1     16
Name: Wicket, dtype: int64
0    530
1     12
Name: Wicket, dtype: int64
0    567
1      9
Name: Wicket, dtype: int64
0    599
1     13
Name: Wicket, dtype: int64
0    517
1      8
Name: Wicket, dtype: int64
0    27
Name: Wicket, dtype: int64
0    459
1     12
Name: Wicket, dtype: int64
0    502
1     13
Name: Wicket, dtype: int64
0    588
1      9
Name: Wicket, dtype: int64
0    587
1     11
Name: Wicket, dtype: int64
0    503
1     18
Name: Wicket, dtype: int64
0    491
1     15
Name: Wicket, dtype: int64
0    432
1      9
Name: Wicket, dtype: int64
0    550
1     16
Name: Wicket, dtype: int64
0    558
1     10
Name: Wicket, dtype: int64
0    564
1     12
Name: Wicket, dtype: int64
0    575
1     10
Name: Wicket, dtype: int64
0    606
1     11
Name: Wicket, dtype: int64
0    536
1     10
Name: Wicket, dtype: int64
0    591
1     18
Name: Wicket, dtype: int64
0    589
1     17
Name: Wicket, dtype: int64
0    607
1     11
Name: Wicket, dtype: int64
0    530
1     13
Name: Wicket, dtype: int64
0    584
1     13
Name: Wicket, dtype: int64
0    567
1     10
Name: Wicket, dtype: int64
0    612
1     12
Name: Wicket, dtype: int64
0    493
1      9
Name: Wicket, dtype: int64
0    436
1      9
Name: Wicket, dtype: int64
0    442
1     12
Name: Wicket, dtype: int64
0    554
1     13
Name: Wicket, dtype: int64
0    589
1     16
Name: Wicket, dtype: int64
0    602
1     15
Name: Wicket, dtype: int64
0    480
1      7
Name: Wicket, dtype: int64
0    598
1     12
Name: Wicket, dtype: int64
0    586
1     15
Name: Wicket, dtype: int64
0    568
1      4
Name: Wicket, dtype: int64
0    600
1     10
Name: Wicket, dtype: int64
0    317
1      6
Name: Wicket, dtype: int64
0    599
1     10
Name: Wicket, dtype: int64
0    567
1     10
Name: Wicket, dtype: int64
0    559
1     10
Name: Wicket, dtype: int64
0    504
1     14
Name: Wicket, dtype: int64
0    292
1      7
Name: Wicket, dtype: int64
0    577
1     13
Name: Wicket, dtype: int64
0    540
1     14
Name: Wicket, dtype: int64
0    565
1     13
Name: Wicket, dtype: int64
0    590
1     12
Name: Wicket, dtype: int64
0    517
1     10
Name: Wicket, dtype: int64
0    583
1     14
Name: Wicket, dtype: int64
0    543
1     16
Name: Wicket, dtype: int64
0    600
1     12
Name: Wicket, dtype: int64
0    580
1     16
Name: Wicket, dtype: int64
0    579
1      9
Name: Wicket, dtype: int64
0    362
1     13
Name: Wicket, dtype: int64
0    552
1     12
Name: Wicket, dtype: int64
0    600
1      9
Name: Wicket, dtype: int64
0    271
1     12
Name: Wicket, dtype: int64
0    531
1     15
Name: Wicket, dtype: int64
0    588
1     14
Name: Wicket, dtype: int64
0    545
1     10
Name: Wicket, dtype: int64
0    553
1     18
Name: Wicket, dtype: int64
0    592
1      9
Name: Wicket, dtype: int64
0    597
1     14
Name: Wicket, dtype: int64
0    600
1     16
Name: Wicket, dtype: int64
0    586
1      9
Name: Wicket, dtype: int64
0    500
1     13
Name: Wicket, dtype: int64
0    327
1     18
Name: Wicket, dtype: int64
0    299
1     10
Name: Wicket, dtype: int64
0    588
1      5
Name: Wicket, dtype: int64
0    609
1     15
Name: Wicket, dtype: int64
0    571
1     13
Name: Wicket, dtype: int64
0    606
1     13
Name: Wicket, dtype: int64
0    528
1     16
Name: Wicket, dtype: int64
0    593
1     10
Name: Wicket, dtype: int64
0    520
1     14
Name: Wicket, dtype: int64
0    477
1     17
Name: Wicket, dtype: int64
0    593
1     17
Name: Wicket, dtype: int64
0    504
1     10
Name: Wicket, dtype: int64
0    570
1     14
Name: Wicket, dtype: int64
0    586
1     14
Name: Wicket, dtype: int64
0    521
1     11
Name: Wicket, dtype: int64
0    557
1     17
Name: Wicket, dtype: int64
0    590
1     13
Name: Wicket, dtype: int64
0    586
1     13
Name: Wicket, dtype: int64
0    326
1      8
Name: Wicket, dtype: int64
0    593
1     11
Name: Wicket, dtype: int64
0    239
1     13
Name: Wicket, dtype: int64
0    469
1     12
Name: Wicket, dtype: int64
0    587
1      9
Name: Wicket, dtype: int64
0    340
1      9
Name: Wicket, dtype: int64
0    566
1     15
Name: Wicket, dtype: int64
0    501
1     12
Name: Wicket, dtype: int64
0    480
1     13
Name: Wicket, dtype: int64
0    517
1     10
Name: Wicket, dtype: int64
0    576
1     15
Name: Wicket, dtype: int64
0    468
1     10
Name: Wicket, dtype: int64
0    594
1     10
Name: Wicket, dtype: int64
0    605
1      7
Name: Wicket, dtype: int64
0    561
1     14
Name: Wicket, dtype: int64
0    537
1      9
Name: Wicket, dtype: int64
0    597
1     12
Name: Wicket, dtype: int64
0    593
1      7
Name: Wicket, dtype: int64

0    561
1     10
Name: Wicket, dtype: int64
0    544
1      9
Name: Wicket, dtype: int64
0    225
1      9
Name: Wicket, dtype: int64
0    220
1      7
Name: Wicket, dtype: int64
0    598
1     16
Name: Wicket, dtype: int64
0    420
1     14
Name: Wicket, dtype: int64
0    245
1      9
Name: Wicket, dtype: int64
0    501
1      8
Name: Wicket, dtype: int64
0    482
1      9
Name: Wicket, dtype: int64
0    593
1     15
Name: Wicket, dtype: int64
0    499
1     15
Name: Wicket, dtype: int64
0    602
1     16
Name: Wicket, dtype: int64
0    591
1      6
Name: Wicket, dtype: int64
0    592
1     14
Name: Wicket, dtype: int64
0    533
1     14
Name: Wicket, dtype: int64
0    554
1     11
Name: Wicket, dtype: int64
0    479
1      9
Name: Wicket, dtype: int64
0    585
1     15
Name: Wicket, dtype: int64
0    400
1     13
Name: Wicket, dtype: int64
0    461
1     15
Name: Wicket, dtype: int64
0    214
1      7
Name: Wicket, dtype: int64
0    600
1     15
Name: Wicket, dtype: int64
0    588
1      9
Name: Wicket, dtype: int64
0    471
1     17
Name: Wicket, dtype: int64
0    569
1     15
Name: Wicket, dtype: int64
0    599
1      9
Name: Wicket, dtype: int64
0    325
1      8
Name: Wicket, dtype: int64
0    276
1      7
Name: Wicket, dtype: int64
0    349
1     12
Name: Wicket, dtype: int64
0    509
1     10
Name: Wicket, dtype: int64
0    595
1     12
Name: Wicket, dtype: int64
0    575
1      9
Name: Wicket, dtype: int64
0    227
1     15
Name: Wicket, dtype: int64
0    576
1     18
Name: Wicket, dtype: int64
0    536
1     14
Name: Wicket, dtype: int64
0    508
1     14
Name: Wicket, dtype: int64
0    473
1     13
Name: Wicket, dtype: int64
0    554
1     13
Name: Wicket, dtype: int64
0    582
1     11
Name: Wicket, dtype: int64
0    544
1     15
Name: Wicket, dtype: int64
0    512
1      7
Name: Wicket, dtype: int64
0    523
1      7
Name: Wicket, dtype: int64
0    603
1      8
Name: Wicket, dtype: int64
0    512
1     12
Name: Wicket, dtype: int64
0    540
1     11
Name: Wicket, dtype: int64
0    589
1     13
Name: Wicket, dtype: int64
0    603
1      9
Name: Wicket, dtype: int64
0    578
1     13
Name: Wicket, dtype: int64
0    590
1     12
Name: Wicket, dtype: int64
0    587
1      9
Name: Wicket, dtype: int64
0    594
1     14
Name: Wicket, dtype: int64
0    531
1     13
Name: Wicket, dtype: int64
0    607
1      8
Name: Wicket, dtype: int64
0    470
1      7
Name: Wicket, dtype: int64
0    590
1     12
Name: Wicket, dtype: int64
0    577
1      9
Name: Wicket, dtype: int64
0    460
1     12
Name: Wicket, dtype: int64
0    607
1      8
Name: Wicket, dtype: int64
0    343
1      8
Name: Wicket, dtype: int64
0    601
1     12
Name: Wicket, dtype: int64
0    488
1     13
Name: Wicket, dtype: int64
0    517
1     14
Name: Wicket, dtype: int64
0    561
1     11
Name: Wicket, dtype: int64
0    598
1     13
Name: Wicket, dtype: int64
0    466
1     11
Name: Wicket, dtype: int64
0    566
1     12
Name: Wicket, dtype: int64
0    573
1      6
Name: Wicket, dtype: int64
0    542
1     13
Name: Wicket, dtype: int64
0    523
1     19
Name: Wicket, dtype: int64
0    574
1     11
Name: Wicket, dtype: int64
0    533
1     13
Name: Wicket, dtype: int64
0    445
1     14
Name: Wicket, dtype: int64
0    600
1     15
Name: Wicket, dtype: int64
0    599
1     11
Name: Wicket, dtype: int64
0    588
1     16
Name: Wicket, dtype: int64
0    409
1      9
Name: Wicket, dtype: int64
0    537
1     13
Name: Wicket, dtype: int64
0    591
1      9
Name: Wicket, dtype: int64
0    525
1     17
Name: Wicket, dtype: int64
0    588
1     14
Name: Wicket, dtype: int64
0    560
1     14
Name: Wicket, dtype: int64
0    588
1     11
Name: Wicket, dtype: int64
0    541
1     11
Name: Wicket, dtype: int64
0    564
1     10
Name: Wicket, dtype: int64
0    565
1     10
Name: Wicket, dtype: int64
0    603
1     10
Name: Wicket, dtype: int64
0    572
1     14
Name: Wicket, dtype: int64
0    532
1     15
Name: Wicket, dtype: int64
0    603
1     11
Name: Wicket, dtype: int64
0    555
1     11
Name: Wicket, dtype: int64
0    487
1     13
Name: Wicket, dtype: int64
0    583
1     13
Name: Wicket, dtype: int64
0    570
1     15
Name: Wicket, dtype: int64
0    568
1      9
Name: Wicket, dtype: int64
0    443
1     16
Name: Wicket, dtype: int64
0    374
1     15
Name: Wicket, dtype: int64
0    564
1     13
Name: Wicket, dtype: int64
0    548
1     13
Name: Wicket, dtype: int64
0    562
1     16
Name: Wicket, dtype: int64
0    591
1     11
Name: Wicket, dtype: int64
0    347
1      6
Name: Wicket, dtype: int64
0    455
1      9
Name: Wicket, dtype: int64
0    255
1     14
Name: Wicket, dtype: int64
0    205
1      7
Name: Wicket, dtype: int64
0    540
1     10
Name: Wicket, dtype: int64
0    558
1     14
Name: Wicket, dtype: int64
0    303
1     11
Name: Wicket, dtype: int64
0    556
1     13
Name: Wicket, dtype: int64
0    574
1     17
Name: Wicket, dtype: int64
0    190
1      2
Name: Wicket, dtype: int64
0    552
1     13
Name: Wicket, dtype: int64
0    583
1      8
Name: Wicket, dtype: int64
0    168
1      2
Name: Wicket, dtype: int64
0    588
1     13
Name: Wicket, dtype: int64
0    561
1     12
Name: Wicket, dtype: int64
0    547
1     10
Name: Wicket, dtype: int64
0    572
1     12
Name: Wicket, dtype: int64
0    514
1     12
Name: Wicket, dtype: int64
0    554
1     15
Name: Wicket, dtype: int64
0    593
1     11
Name: Wicket, dtype: int64
0    460
1     11
Name: Wicket, dtype: int64
0    414
1     12
Name: Wicket, dtype: int64
0    600
1     14
Name: Wicket, dtype: int64
0    592
1     12
Name: Wicket, dtype: int64
0    543
1     14
Name: Wicket, dtype: int64
0    570
1     11
Name: Wicket, dtype: int64
0    593
1     17
Name: Wicket, dtype: int64
0    413
1     16
Name: Wicket, dtype: int64
0    567
1     12
Name: Wicket, dtype: int64
0    596
1     12
Name: Wicket, dtype: int64
0    586
1     14
Name: Wicket, dtype: int64
0    605
1     12
Name: Wicket, dtype: int64
0    522
1     14
Name: Wicket, dtype: int64
0    398
1     11
Name: Wicket, dtype: int64
0    593
1     11
Name: Wicket, dtype: int64
0    97
1     2
Name: Wicket, dtype: int64
0    568
1     14
Name: Wicket, dtype: int64
0    530
1     14
Name: Wicket, dtype: int64
0    563
1      8
Name: Wicket, dtype: int64
0    596
1     11
Name: Wicket, dtype: int64
0    522
1     13
Name: Wicket, dtype: int64
0    557
1     16
Name: Wicket, dtype: int64
0    567
1     14
Name: Wicket, dtype: int64
0    537
1     13
Name: Wicket, dtype: int64
0    601
1     13
Name: Wicket, dtype: int64
0    326
1     13
Name: Wicket, dtype: int64
0    102
1      3
Name: Wicket, dtype: int64
0    551
1     14
Name: Wicket, dtype: int64
0    570
1     16
Name: Wicket, dtype: int64
0    588
1     11
Name: Wicket, dtype: int64
0    537
1     14
Name: Wicket, dtype: int64
0    566
1      9
Name: Wicket, dtype: int64
0    558
1     13
Name: Wicket, dtype: int64
0    561
1     12
Name: Wicket, dtype: int64
0    587
1     13
Name: Wicket, dtype: int64
0    498
1     13
Name: Wicket, dtype: int64
0    578
1     10
Name: Wicket, dtype: int64
0    587
1      9
Name: Wicket, dtype: int64
0    563
1     15
Name: Wicket, dtype: int64
0    541
1     13
Name: Wicket, dtype: int64
0    596
1      9
Name: Wicket, dtype: int64
0    594
1     11
Name: Wicket, dtype: int64
0    590
1     11
Name: Wicket, dtype: int64
0    555
1     14
Name: Wicket, dtype: int64
0    504
1      8
Name: Wicket, dtype: int64
0    405
1     12
Name: Wicket, dtype: int64
0    406
1     10
Name: Wicket, dtype: int64
0    439
1     11
Name: Wicket, dtype: int64
0    399
1     10
Name: Wicket, dtype: int64
0    598
1     12
Name: Wicket, dtype: int64
0    565
1      8
Name: Wicket, dtype: int64
0    594
1     15
Name: Wicket, dtype: int64
0    572
1     11
Name: Wicket, dtype: int64
0    539
1      7
Name: Wicket, dtype: int64
0    531
1      9
Name: Wicket, dtype: int64
0    572
1     10
Name: Wicket, dtype: int64
0    592
1     12
Name: Wicket, dtype: int64
0    550
1     11
Name: Wicket, dtype: int64
0    551
1     10
Name: Wicket, dtype: int64
0    523
1      8
Name: Wicket, dtype: int64
0    600
1      7
Name: Wicket, dtype: int64
0    579
1      9
Name: Wicket, dtype: int64
0    353
1      5
Name: Wicket, dtype: int64

0    565
1     17
Name: Wicket, dtype: int64
0    503
1     10
Name: Wicket, dtype: int64
0    579
1     14
Name: Wicket, dtype: int64
0    600
1     11
Name: Wicket, dtype: int64
0    586
1     16
Name: Wicket, dtype: int64
0    558
1     11
Name: Wicket, dtype: int64
0    603
1      6
Name: Wicket, dtype: int64
0    561
1      6
Name: Wicket, dtype: int64
0    590
1     13
Name: Wicket, dtype: int64
0    603
1      7
Name: Wicket, dtype: int64
0    603
1      8
Name: Wicket, dtype: int64
0    592
1     12
Name: Wicket, dtype: int64
0    589
1     17
Name: Wicket, dtype: int64
0    599
1      9
Name: Wicket, dtype: int64
0    558
1      9
Name: Wicket, dtype: int64
0    566
1     14
Name: Wicket, dtype: int64
0    542
1     11
Name: Wicket, dtype: int64
0    543
1     12
Name: Wicket, dtype: int64
0    604
1      8
Name: Wicket, dtype: int64
0    557
1     16
Name: Wicket, dtype: int64
0    603
1      9
Name: Wicket, dtype: int64
0    605
1     13
Name: Wicket, dtype: int64
0    513
1     13
Name: Wicket, dtype: int64
0    551
1     12
Name: Wicket, dtype: int64
0    564
1     17
Name: Wicket, dtype: int64
0    592
1     13
Name: Wicket, dtype: int64
0    509
1      4
Name: Wicket, dtype: int64
0    316
1      9
Name: Wicket, dtype: int64
0    496
1      8
Name: Wicket, dtype: int64
0    553
1     13
Name: Wicket, dtype: int64
0    413
1     15
Name: Wicket, dtype: int64
0    506
1      7
Name: Wicket, dtype: int64
0    574
1     14
Name: Wicket, dtype: int64
0    558
1     10
Name: Wicket, dtype: int64
0    589
1     12
Name: Wicket, dtype: int64
0    588
1     13
Name: Wicket, dtype: int64
0    410
1     12
Name: Wicket, dtype: int64
0    215
1      8
Name: Wicket, dtype: int64
0    586
1      8
Name: Wicket, dtype: int64
0    52
1     1
Name: Wicket, dtype: int64
0    582
1     15
Name: Wicket, dtype: int64
0    579
1     18
Name: Wicket, dtype: int64
0    440
1     15
Name: Wicket, dtype: int64
0    574
1     13
Name: Wicket, dtype: int64
0    524
1     16
Name: Wicket, dtype: int64
0    550
1     15
Name: Wicket, dtype: int64
0    305
1     12
Name: Wicket, dtype: int64
0    447
1      7
Name: Wicket, dtype: int64
0    414
1     12
Name: Wicket, dtype: int64
0    522
1     11
Name: Wicket, dtype: int64
0    594
1     11
Name: Wicket, dtype: int64
0    434
1      9
Name: Wicket, dtype: int64
0    587
1     13
Name: Wicket, dtype: int64
0    595
1      8
Name: Wicket, dtype: int64
0    575
1     14
Name: Wicket, dtype: int64
0    337
1     10
Name: Wicket, dtype: int64
0    577
1     14
Name: Wicket, dtype: int64
0    574
1     12
Name: Wicket, dtype: int64
0    514
1     13
Name: Wicket, dtype: int64
0    557
1     17
Name: Wicket, dtype: int64
0    555
1     14
Name: Wicket, dtype: int64
0    571
1      9
Name: Wicket, dtype: int64
0    347
1      9
Name: Wicket, dtype: int64
0    499
1     11
Name: Wicket, dtype: int64
0    582
1     12
Name: Wicket, dtype: int64
0    573
1      9
Name: Wicket, dtype: int64
0    527
1     13
Name: Wicket, dtype: int64
0    6
Name: Wicket, dtype: int64
0    594
1     11
Name: Wicket, dtype: int64
0    582
1     15
Name: Wicket, dtype: int64
0    572
1     16
Name: Wicket, dtype: int64
0    486
1     13
Name: Wicket, dtype: int64
0    457
1      6
Name: Wicket, dtype: int64
0    518
1     10
Name: Wicket, dtype: int64
0    521
1     15
Name: Wicket, dtype: int64
0    601
1      9
Name: Wicket, dtype: int64
0    431
1      7
Name: Wicket, dtype: int64
0    589
1     15
Name: Wicket, dtype: int64
0    502
1      7
Name: Wicket, dtype: int64
0    522
1     13
Name: Wicket, dtype: int64
0    429
1     12
Name: Wicket, dtype: int64
0    582
1     13
Name: Wicket, dtype: int64
0    603
1     13
Name: Wicket, dtype: int64
0    406
1     17
Name: Wicket, dtype: int64
0    582
1     10
Name: Wicket, dtype: int64
0    375
1     17
Name: Wicket, dtype: int64
0    557
1     17
Name: Wicket, dtype: int64
0    593
1     14
Name: Wicket, dtype: int64
0    575
1     15
Name: Wicket, dtype: int64
0    574
1     15
Name: Wicket, dtype: int64
0    568
1     16
Name: Wicket, dtype: int64
0    488
1     10
Name: Wicket, dtype: int64
0    498
1     12
Name: Wicket, dtype: int64
0    583
1     16
Name: Wicket, dtype: int64
0    543
1     13
Name: Wicket, dtype: int64
0    606
1     12
Name: Wicket, dtype: int64
0    553
1     13
Name: Wicket, dtype: int64
0    556
1     12
Name: Wicket, dtype: int64

In [327]:
batsman_stat=batsman_stat[batsman_stat["batsmen"]!=np.nan]

In [328]:
batsman_stat.reset_index()
df=batsman_stat[pa.notnull(batsman_stat["batsmen"])]

In [329]:
df=df.drop_duplicates().reset_index()

In [330]:
df=df[["MatchId","batsmen","Batting_Team","Runs","Ground","Year"]]
df

,MatchId,batsmen,Batting_Team,Runs,Ground,Year
0,0,Azhar Ali,Pakistan,24,"Brisbane Cricket Ground, Woolloongabba",2016/17
1,0,B Stanlake,Australia,1,"Brisbane Cricket Ground, Woolloongabba",2016/17
2,0,Babar Azam,Pakistan,33,"Brisbane Cricket Ground, Woolloongabba",2016/17
3,0,CA Lynn,Australia,16,"Brisbane Cricket Ground, Woolloongabba",2016/17
4,0,DA Warner,Australia,7,"Brisbane Cricket Ground, Woolloongabba",2016/17
5,0,GJ Maxwell,Australia,60,"Brisbane Cricket Ground, Woolloongabba",2016/17
6,0,Hasan Ali,Pakistan,1,"Brisbane Cricket Ground, Woolloongabba",2016/17
7,0,Imad Wasim,Pakistan,29,"Brisbane Cricket Ground, Woolloongabba",2016/17
8,0,JP Faulkner,Australia,5,"Brisbane Cricket Ground, Woolloongabba",2016/17
9,0,MA Starc,Australia,10,"Brisbane Cricket Ground, Woolloongabba",2016/17
10,0,MR Marsh,Australia,4,"Brisbane Cricket Ground, Woolloongabba",2016/17
11,0,MS Wade,Australia,100,"Brisbane Cricket Ground, Woolloongabba",2016/17
12,0,Mohammad Amir,Pakistan,8,"Brisbane Cricket Ground, Woolloongabba",2016/17
13,0,Mohammad Hafeez,Pakistan,4,"Brisbane Cricket Ground, Woolloongabba",2016/17
14,0,Mohammad Nawaz (3),Pakistan,1,"Brisbane Cricket Ground, Woolloongabba",2016/17
15,0,Mohammad Rizwan,Pakistan,21,"Brisbane Cricket Ground, Woolloongabba",2016/17
16,0,PJ Cummins,Australia,15,"Brisbane Cricket Ground, Woolloongabba",2016/17
17,0,SPD Smith,Australia,0,"Brisbane Cricket Ground, Woolloongabba",2016/17
18,0,Sharjeel Khan,Pakistan,18,"Brisbane Cricket Ground, Woolloongabba",2016/17
19,0,TM Head,Australia,39,"Brisbane Cricket Ground, Woolloongabba",2016/17
20,0,Umar Akmal,Pakistan,17,"Brisbane Cricket Ground, Woolloongabba",2016/17
21,0,Wahab Riaz,Pakistan,6,"Brisbane Cricket Ground, Woolloongabba",2016/17
22,1,Asad Shafiq,Pakistan,13,Melbourne Cricket Ground,2016/17
23,1,Babar Azam,Pakistan,34,Melbourne Cricket Ground,2016/17
24,1,DA Warner,Australia,16,Melbourne Cricket Ground,2016/17
25,1,GJ Maxwell,Australia,23,Melbourne Cricket Ground,2016/17
26,1,JP Faulkner,Australia,19,Melbourne Cricket Ground,2016/17
27,1,JR Hazlewood,Australia,0,Melbourne Cricket Ground,2016/17
28,1,MA Starc,Australia,3,Melbourne Cricket Ground,2016/17
29,1,MR Marsh,Australia,0,Melbourne Cricket Ground,2016/17
...,...,...,...,...,...,...
23837,1377,CS MacLeod,Scotland,20,"Grange Cricket Club Ground, Raeburn Place",2016
23838,1377,KJ Coetzer,Scotland,119,"Grange Cricket Club Ground, Raeburn Place",2016
23839,1377,Krishna Chandran,United Arab Emirates,15,"Grange Cricket Club Ground, Raeburn Place",2016
23840,1377,L Sreekumar,United Arab Emirates,28,"Grange Cricket Club Ground, Raeburn Place",2016
23841,1377,MA Leask,Scotland,10,"Grange Cricket Club Ground, Raeburn Place",2016
23842,1377,Mohammad Naveed,United Arab Emirates,2,"Grange Cricket Club Ground, Raeburn Place",2016
23843,1377,Mohammad Shahzad (2),United Arab Emirates,28,"Grange Cricket Club Ground, Raeburn Place",2016
23844,1377,Muhammad Usman,United Arab Emirates,34,"Grange Cricket Club Ground, Raeburn Place",2016
23845,1377,PL Mommsen,Scotland,111,"Grange Cricket Club Ground, Raeburn Place",2016
23846,1377,RD Berrington,Scotland,27,"Grange Cricket Club Ground, Raeburn Place",2016
23847,1377,Rameez Shahzad,United Arab Emirates,15,"Grange Cricket Club Ground, Raeburn Place",2016
23848,1377,Rohan Mustafa,United Arab Emirates,43,"Grange Cricket Club Ground, Raeburn Place",2016
23849,1377,Saqlain Haider,United Arab Emirates,11,"Grange Cricket Club Ground, Raeburn Place",2016
23850,1377,Shaiman Anwar,United Arab Emirates,9,"Grange Cricket Club Ground, Raeburn Place",2016
23851,1378,Ahmed Raza,United Arab Emirates,2,"Grange Cricket Club Ground, Raeburn Place",2016
23852,1378,Amjad Javed,United Arab Emirates,0,"Grange Cricket Club Ground, Raeburn Place",2016
23853,1378,CD Wallace,Scotland,6,"Grange Cricket Club Ground, Raeburn Place",2016
23854,1378,CS MacLeod,Scotland,103,"Grange Cricket Club Ground, Raeburn Place",2016
23855,1378,Fayyaz Ahmed,United Arab Emirates,4,"Grange Cricket Club Ground, Raeburn Place",2016
23856,1378,KJ Coetzer,Scotland,25,"Grange Cricket Club Ground, Raeburn Place",2016
23857,1378,L Sreekumar,United Arab Emirates,15,"Grange Cricket Club Ground, Raeburn Place",2016
23858,1378,Mohammad Naveed,United Arab Emirates,1,"Grange Cricket Club Ground, Raeburn Place",2016
23859,1378,Mohammad Shahzad (2),United Arab Emirates,21,"Grange Cricket Club Ground, Raeburn Place",2016
23860,1378,Muhammad Usman,United Arab Emirates,43,"Grange Cricket Club Ground, Raeburn Place",2016
23861,1378,PL Mommsen,Scotland,80,"Grange Cricket Club Ground, Raeburn Place",2016
23862,1378,RD Berrington,Scotland,15,"Grange Cricket Club Ground, Raeburn Place",2016
23863,1378,Rameez Shahzad,United Arab Emirates,33,"Grange Cricket Club Ground, Raeburn Place",2016
23864,1378,Rohan Mustafa,United Arab Emirates,16,"Grange Cricket Club Ground, Raeburn Place",2016
23865,1378,Saqlain Haider,United Arab Emirates,12,"Grange Cricket Club Ground, Raeburn Place",2016
23866,1378,Shaiman Anwar,United Arab Emirates,63,"Grange Cricket Club Ground, Raeburn Place",2016

In [331]:
df["Year"].unique()

array(['2016/17', '2016', '2017', '2006', '2005/06', '2006/07', '2007',
       '2007/08', '2008', '2008/09', '2009', '2009/10', '2010', '2010/11',
       '2011', '2011/12', '2012', '2012/13', '2013', '2013/14', '2014/15',
       '2014', '2015', '2015/16'], dtype=object)

In [332]:
df["Year1"]=np.where(df["Year"].str.contains("/"),(df["Year"].str.slice(stop=4)),df["Year"])

In [333]:
df["Year1"]=pa.to_numeric(df["Year1"])
df.dtypes

MatchId         object
batsmen         object
Batting_Team    object
Runs            object
Ground          object
Year            object
Year1            int64
dtype: object

In [334]:
df.head()

,MatchId,batsmen,Batting_Team,Runs,Ground,Year,Year1
0,0,Azhar Ali,Pakistan,24,"Brisbane Cricket Ground, Woolloongabba",2016/17,2016
1,0,B Stanlake,Australia,1,"Brisbane Cricket Ground, Woolloongabba",2016/17,2016
2,0,Babar Azam,Pakistan,33,"Brisbane Cricket Ground, Woolloongabba",2016/17,2016
3,0,CA Lynn,Australia,16,"Brisbane Cricket Ground, Woolloongabba",2016/17,2016
4,0,DA Warner,Australia,7,"Brisbane Cricket Ground, Woolloongabba",2016/17,2016

In [335]:
df["Year"]=df["Year1"]

In [336]:
del df["Year1"]
df.head()

,MatchId,batsmen,Batting_Team,Runs,Ground,Year
0,0,Azhar Ali,Pakistan,24,"Brisbane Cricket Ground, Woolloongabba",2016
1,0,B Stanlake,Australia,1,"Brisbane Cricket Ground, Woolloongabba",2016
2,0,Babar Azam,Pakistan,33,"Brisbane Cricket Ground, Woolloongabba",2016
3,0,CA Lynn,Australia,16,"Brisbane Cricket Ground, Woolloongabba",2016
4,0,DA Warner,Australia,7,"Brisbane Cricket Ground, Woolloongabba",2016

In [337]:
df.dtypes

MatchId         object
batsmen         object
Batting_Team    object
Runs            object
Ground          object
Year             int64
dtype: object

In [354]:
Runs_Total_per_Year =df.groupby(["batsmen","Batting_Team","Ground","Year"])["Runs"].sum().to_frame().reset_index().head()
Matches_Per_Year=df.groupby(["batsmen","Batting_Team","Ground","Year"])["MatchId"].count().to_frame().reset_index()
bman=Runs_Total_per_Year.merge(Matches_Per_Year,on=["batsmen","Batting_Team","Ground","Year"],how="outer")

In [356]:
bman.head()

   batsmen Batting_Team                          Ground  Year  Runs  MatchId
0  A Bagai       Canada  Beausejour Stadium, Gros Islet  2006  43.0        2
1  A Bagai       Canada                Feroz Shah Kotla  2010  64.0        1
2  A Bagai       Canada            Gymkhana Club Ground  2006   7.0        1
3  A Bagai       Canada      Jaffery Sports Club Ground  2006   5.0        1
4  A Bagai       Canada           M Chinnaswamy Stadium  2010  39.0        1

In [357]:
# input - Players,Team1,Team2 ,Ground, 
# average of the player in that stadium
# median of the player in that stadium
# Range of the player  in that stadium
# min , max of the player in that stadium
# standard deviation of the player in that stadium
# Co. of Varinace in that staduim 
# no. of Matches

In [373]:
playerls=list(bman["batsmen"].unique())
bman["Runs"]=bman["Runs"].fillna(0)
bman["Runs"]=bman["Runs"].astype(int)

In [374]:
bman.dtypes

batsmen         object
Batting_Team    object
Ground          object
Year             int64
Runs             int32
MatchId          int64
dtype: object

In [379]:
a=df[df["Ground"]=="M Chinnaswamy Stadium"]
b=a[(a["Batting_Team"]=="India" )| (a["Batting_Team"]=="Australia")]
b["Runs"]=b["Runs"].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [380]:

b.head()

     MatchId       batsmen Batting_Team  Runs                 Ground  Year
6536     379     A Symonds    Australia     7  M Chinnaswamy Stadium  2007
6537     379  AC Gilchrist    Australia     8  M Chinnaswamy Stadium  2007
6538     379     BJ Haddin    Australia    69  M Chinnaswamy Stadium  2007
6539     379      BJ Hodge    Australia     0  M Chinnaswamy Stadium  2007
6540     379     G Gambhir        India     4  M Chinnaswamy Stadium  2007

In [401]:
b.dtypes

MatchId         object
batsmen         object
Batting_Team    object
Runs             int32
Ground          object
Year             int64
dtype: object

In [471]:
def sel_players(Ground,team):
    a=df[df["Ground"].isin(Ground)]
    b=a[a["Batting_Team"].isin(team)]
    b["Runs"]=b["Runs"].astype(int)
    trp=b.groupby(["batsmen","Batting_Team","Ground"])["Runs"].sum().to_frame().reset_index().rename(columns={"Runs":"Total Runs"})
    ap=b.groupby(["batsmen","Batting_Team","Ground"])["Runs"].mean().to_frame().reset_index().rename(columns={"Runs":"Average"})
    mp=b.groupby(["batsmen","Batting_Team","Ground"])["Runs"].median().to_frame().reset_index().rename(columns={"Runs":"Median"})
    minip=b.groupby(["batsmen","Batting_Team","Ground"])["Runs"].min().to_frame().reset_index().rename(columns={"Runs":"Min Runs"})
    maxp=b.groupby(["batsmen","Batting_Team","Ground"])["Runs"].max().to_frame().reset_index().rename(columns={"Runs":"Max Runs"})
    stdp=b.groupby(["batsmen","Batting_Team","Ground"])["Runs"].std().to_frame().reset_index().rename(columns={"Runs":"std Deviation"})
    nmp=b["batsmen"].value_counts().to_frame().reset_index()
    nmp.rename(columns={"index":"batsmen","batsmen":"Matches Played"},inplace=True)
    f=trp.merge(ap,on=["batsmen","Batting_Team","Ground"],how="outer")
    f=f.merge(mp,on=["batsmen","Batting_Team","Ground"],how="outer")
    f=f.merge(minip,on=["batsmen","Batting_Team","Ground"],how="outer")
    f=f.merge(maxp,on=["batsmen","Batting_Team","Ground"],how="outer")
    f=f.merge(stdp,on=["batsmen","Batting_Team","Ground"],how="outer")
    f=f.merge(nmp,on=["batsmen"],how="outer")
    f=f.fillna(0)
    f["Co. eff. variance"]=f["std Deviation"]/f["Average"]
    f=f.fillna(0)
    return f

In [472]:
# Sydney Cricket Ground',  'Adelaide Oval',  'Manuka Oval',  'Grange Cricket Club Ground, Raeburn Place',  
# 'Harare Sports Club',  'Hagley Oval',  'Saxton Oval',  'Eden Park',  'Seddon Park',  'Westpac Stadium',  
#'Kennington Oval',  'Edgbaston',  'Sophia Gardens',  'Mission Road Ground, Mong Kok',  
#'Sir Vivian Richards Stadium, North Sound',  'Kensington Oval, Bridgetown',  'County Ground',  "Lord's",  
#'Shere Bangla National Stadium',  'Zahur Ahmed Chowdhury Stadium',  'Himachal Pradesh Cricket Association Stadium'
#'Feroz Shah Kotla',  'Punjab Cricket Association Stadium, Mohali',  'JSCA International Stadium Complex',  
#'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',  'Headingley',  'The Rose Bowl',  'Malahide',  
#'Clontarf Cricket Club Ground',  'Maharashtra Cricket Association Stadium',  'Barabati Stadium',  
#'Eden Gardens',  'Greater Noida Sports Complex Ground',  'Sharjah Cricket Stadium',  'Sheikh Zayed Stadium',  
#'Queens Sports Club',  'Providence Stadium',  'Dubai International Cricket Stadium',  
#'ICC Global Cricket Academy',  'Rangiri Dambulla International Stadium',  'Sinhalese Sports Club Ground',  
#'Darren Sammy National Cricket Stadium, Gros Islet',  "Queen's Park Oval, Port of Spain",  'Sabina Park, Kingston'
#'Galle International Stadium',  'Mahinda Rajapaksa International Cricket Stadium, Sooriyawewa',  
#'Civil Service Cricket Club, Stormont',  'Trent Bridge',  'Riverside Ground',  'Old Trafford',  
#'Docklands Stadium',  'Bellerive Oval',  'Jade Stadium',  'Arbab Niaz Stadium',  'Rawalpindi Cricket Stadium', 
#'Gaddafi Stadium',  'Multan Cricket Stadium',  'National Stadium',  'Shaheed Chandu Stadium',  
#'Chittagong Divisional Stadium',  'Narayanganj Osmani Stadium',  'Queenstown Events Centre',  'McLean Park',  
#'Nahar Singh Stadium',  'Nehru Stadium, Fatorda',  'Keenan Stadium',  'Maharani Usharaje Trust Cricket Ground',  
#'SuperSport Park',  'Newlands',  "St George's Park",  'Kingsmead',  'New Wanderers Stadium',  
#'R Premadasa Stadium',  "Antigua Recreation Ground, St John's",  'Beausejour Stadium, Gros Islet',  
#'Warner Park, Basseterre',  "National Cricket Stadium, St George's",  'Gymkhana Club Ground',  
#'Sardar Patel Stadium, Motera',  'Sawai Mansingh Stadium',  'Brabourne Stadium',  'Goodyear Park',  
#'Kinrara Academy Oval',  'Sedgars Park',  'Iqbal Stadium',  'Willowmoore Park',  'Buffalo Park',  
#'Ruaraka Sports Club Ground',  'Jaffery Sports Club Ground',  'MA Chidambaram Stadium, Chepauk',  
#'Indian Petrochemicals Corporation Limited Sports Complex Ground',  'Madhavrao Scindia Cricket Ground',  
#'Andhra Cricket Association-Visakhapatnam District Cricket Association Stadium',  'Titwood',  
#'M Chinnaswamy Stadium',  'P Saravanamuttu Stadium',  'Nehru Stadium',  'Rajiv Gandhi International Stadium,
#Uppal',  'Sector 16 Stadium',  'Reliance Stadium',  'Vidarbha Cricket Association Ground',  'Wankhede Stadium',  
#'Green Park',  'Captain Roop Singh Stadium',  'AMI Stadium',  'Arnos Vale Ground, Kingstown',  
#'Maple Leaf North-West Ground',  'Cambusdoon New Ground',  'Niaz Stadium, Hyderabad',  
#'Sheikhupura Stadium',  'Marrara Cricket Ground',  'Senwes Park',  'OUTsurance Oval',  
#'Dubai Sports City Cricket Stadium',  'Windsor Park, Roseau',  'Vidarbha Cricket Association Stadium, Jamtha',  
#'Zohur Ahmed Chowdhury Stadium',  'University Oval',  'Pallekele International Cricket Stadium',  
#'VRA Ground',  'Toronto Cricket',  'Mannofield Park',  'Boland Park',  'Chevrolet Park',  
#'De Beers Diamond Oval',  'Cobham Oval (New)',  'Holkar Cricket Stadium',  
#'Mombasa Sports Club Ground',  'Saurashtra Cricket Association Stadium',  'The Village, Malahide',  
#'Sharjah Cricket Association Stadium',  'Sheikh Abu Naser Stadium',  'Khan Shaheb Osman Ali Stadium',  
#'Bert Sutcliffe Oval',  'Bay Oval',  'Mangaung Oval',  'ICC Academy',  'Basin Reserve']

In [473]:
df["Batting_Team"].unique()

array(['Pakistan', 'Australia', 'New Zealand', 'Afghanistan', 'Scotland',
       'Hong Kong', 'Zimbabwe', 'India', 'Bangladesh', 'South Africa',
       'England', 'Sri Lanka', 'Papua New Guinea', 'West Indies',
       'Ireland', 'United Arab Emirates', 'Bermuda', 'Netherlands',
       'Canada', 'Kenya', 'Africa XI', 'Asia XI'], dtype=object)

In [514]:
sel_players(["The Rose Bowl"],["India","South Africa"]).sort_values("Average",ascending=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,batsmen,Batting_Team,Ground,Total Runs,Average,Median,Min Runs,Max Runs,std Deviation,Matches Played,Co. eff. variance
18,Q de Kock,South Africa,The Rose Bowl,98,98.0,98.0,98,98,0.000000,1,0.000000
10,HM Amla,South Africa,The Rose Bowl,174,87.0,87.0,24,150,89.095454,2,1.024086
5,DA Miller,South Africa,The Rose Bowl,71,71.0,71.0,71,71,0.000000,1,0.000000
2,AM Rahane,India,The Rose Bowl,54,54.0,54.0,54,54,0.000000,1,0.000000
9,GC Smith,South Africa,The Rose Bowl,52,52.0,52.0,52,52,0.000000,1,0.000000
12,KD Karthik,India,The Rose Bowl,44,44.0,44.0,44,44,0.000000,1,0.000000
1,AB de Villiers,South Africa,The Rose Bowl,80,40.0,40.0,28,52,16.970563,2,0.424264
23,SK Raina,India,The Rose Bowl,40,40.0,40.0,40,40,0.000000,1,0.000000
20,R Dravid,India,The Rose Bowl,78,39.0,39.0,32,46,9.899495,2,0.253833
3,CH Morris,South Africa,The Rose Bowl,35,35.0,35.0,35,35,0.000000,1,0.000000
16,PA Patel,India,The Rose Bowl,24,24.0,24.0,24,24,0.000000,1,0.000000
27,Z Khan,India,The Rose Bowl,20,20.0,20.0,20,20,0.000000,1,0.000000
7,F du Plessis,South Africa,The Rose Bowl,38,19.0,19.0,16,22,4.242641,2,0.223297
6,F Behardien,South Africa,The Rose Bowl,17,17.0,17.0,17,17,0.000000,1,0.000000
24,SR Tendulkar,India,The Rose Bowl,17,17.0,17.0,17,17,0.000000,1,0.000000
4,D Elgar,South Africa,The Rose Bowl,15,15.0,15.0,15,15,0.000000,1,0.000000
11,JP Duminy,South Africa,The Rose Bowl,14,14.0,14.0,14,14,0.000000,1,0.000000
14,MS Dhoni,India,The Rose Bowl,25,12.5,12.5,6,19,9.192388,2,0.735391
13,MK Tiwary,India,The Rose Bowl,11,11.0,11.0,11,11,0.000000,1,0.000000
0,AB Agarkar,India,The Rose Bowl,11,11.0,11.0,11,11,0.000000,1,0.000000
25,V Kohli,India,The Rose Bowl,9,9.0,9.0,9,9,0.000000,1,0.000000
8,G Gambhir,India,The Rose Bowl,3,3.0,3.0,3,3,0.000000,1,0.000000
17,PP Chawla,India,The Rose Bowl,2,2.0,2.0,2,2,0.000000,1,0.000000
22,SC Ganguly,India,The Rose Bowl,2,2.0,2.0,2,2,0.000000,1,0.000000
19,R Ashwin,India,The Rose Bowl,1,1.0,1.0,1,1,0.000000,1,0.000000
15,P Kumar,India,The Rose Bowl,0,0.0,0.0,0,0,0.000000,1,0.000000
21,RP Singh,India,The Rose Bowl,0,0.0,0.0,0,0,0.000000,1,0.000000
26,Yuvraj Singh,India,The Rose Bowl,0,0.0,0.0,0,0,0.000000,1,0.000000

In [485]:
bowler_stat.head()

,Bowler,Bowling_Team,MatchId,Year,Ground,Runs,Wicket
0,B Stanlake,Australia,0,2016/17,"Brisbane Cricket Ground, Woolloongabba",12,0
1,Hasan Ali,Pakistan,0,2016/17,"Brisbane Cricket Ground, Woolloongabba",63,3
2,Imad Wasim,Pakistan,0,2016/17,"Brisbane Cricket Ground, Woolloongabba",35,2
3,JP Faulkner,Australia,0,2016/17,"Brisbane Cricket Ground, Woolloongabba",32,4
4,MA Starc,Australia,0,2016/17,"Brisbane Cricket Ground, Woolloongabba",32,2

In [487]:
bowler_stat.dtypes

Bowler          object
Bowling_Team    object
MatchId          int64
Year            object
Ground          object
Runs             int64
Wicket           int64
dtype: object

In [512]:
def sel_bowlers(Ground,team):
    a=bowler_stat[bowler_stat["Ground"].isin(Ground)]
    b=a[a["Bowling_Team"].isin(team)]
    #b["Runs"]=b["Runs"].astype(int)
    runs_leaked=b.groupby(["Bowler","Bowling_Team","Ground"])["Runs"].sum().to_frame().reset_index().rename(columns={"Runs":"Runs Leaked"})
    avgruns=b.groupby(["Bowler","Bowling_Team","Ground"])["Runs"].mean().to_frame().reset_index().rename(columns={"Runs":"Average Runs"})
    trp=b.groupby(["Bowler","Bowling_Team","Ground"])["Wicket"].sum().to_frame().reset_index().rename(columns={"Wicket":"Total Wickets"})
    ap=b.groupby(["Bowler","Bowling_Team","Ground"])["Wicket"].mean().to_frame().reset_index().rename(columns={"Wicket":"Average Wickets"})
    mp=b.groupby(["Bowler","Bowling_Team","Ground"])["Wicket"].median().to_frame().reset_index().rename(columns={"Wicket":"Median Wickets"})
    minip=b.groupby(["Bowler","Bowling_Team","Ground"])["Wicket"].min().to_frame().reset_index().rename(columns={"Wicket":"Min Wickets"})
    maxp=b.groupby(["Bowler","Bowling_Team","Ground"])["Wicket"].max().to_frame().reset_index().rename(columns={"Wicket":"Max Wickets"})
    stdp=b.groupby(["Bowler","Bowling_Team","Ground"])["Wicket"].std().to_frame().reset_index().rename(columns={"Wicket":"std Deviation"})
    nmp=b["Bowler"].value_counts().to_frame().reset_index()
    nmp.rename(columns={"index":"Bowler","Bowler":"Matches Played"},inplace=True)
    f=nmp.merge(runs_leaked,on=["Bowler"],how="outer")
    f=f.merge(avgruns,on=["Bowler","Bowling_Team","Ground"],how="outer")
    f=f.merge(trp,on=["Bowler","Bowling_Team","Ground"],how="outer")
    f=f.merge(ap,on=["Bowler","Bowling_Team","Ground"],how="outer")
    f=f.merge(mp,on=["Bowler","Bowling_Team","Ground"],how="outer")
    f=f.merge(minip,on=["Bowler","Bowling_Team","Ground"],how="outer")
    f=f.merge(maxp,on=["Bowler","Bowling_Team","Ground"],how="outer")
    f=f.merge(stdp,on=["Bowler","Bowling_Team","Ground"],how="outer")
    
    f=f.fillna(0)
    f["Co. eff. variance"]=f["std Deviation"]/f["Average Wickets"]
    f=f.fillna(0)
    f=f[["Bowler","Bowling_Team","Ground","Matches Played","Runs Leaked","Average Runs","Total Wickets","Average Wickets","Median Wickets","Min Wickets","Max Wickets","std Deviation","Co. eff. variance"]]
    return f

In [516]:
sel_bowlers(["The Rose Bowl"],["India","South Africa"]).sort_values("Total Wickets",ascending=False)

,Bowler,Bowling_Team,Ground,Matches Played,Runs Leaked,Average Runs,Total Wickets,Average Wickets,Median Wickets,Min Wickets,Max Wickets,std Deviation,Co. eff. variance
16,M Morkel,South Africa,The Rose Bowl,1,28,28,2,2,2,2,2,0.0,0.0
4,RJ Peterson,South Africa,The Rose Bowl,1,51,51,2,2,2,2,2,0.0,0.0
15,R Ashwin,India,The Rose Bowl,1,41,41,2,2,2,2,2,0.0,0.0
1,WD Parnell,South Africa,The Rose Bowl,1,30,30,2,2,2,2,2,0.0,0.0
13,K Rabada,South Africa,The Rose Bowl,1,46,46,2,2,2,2,2,0.0,0.0
9,D Pretorius,South Africa,The Rose Bowl,1,61,61,1,1,1,1,1,0.0,0.0
22,KA Maharaj,South Africa,The Rose Bowl,1,72,72,1,1,1,1,1,0.0,0.0
5,AL Phehlukwayo,South Africa,The Rose Bowl,1,72,72,1,1,1,1,1,0.0,0.0
6,RP Singh,India,The Rose Bowl,1,48,48,1,1,1,1,1,0.0,0.0
7,LL Tsotsobe,South Africa,The Rose Bowl,1,29,29,1,1,1,1,1,0.0,0.0
18,Z Khan,India,The Rose Bowl,1,48,48,1,1,1,1,1,0.0,0.0
10,D Elgar,South Africa,The Rose Bowl,1,11,11,1,1,1,1,1,0.0,0.0
11,JP Duminy,South Africa,The Rose Bowl,1,16,16,1,1,1,1,1,0.0,0.0
20,PP Chawla,India,The Rose Bowl,1,42,42,0,0,0,0,0,0.0,0.0
0,SC Ganguly,India,The Rose Bowl,1,21,21,0,0,0,0,0,0.0,0.0
21,P Kumar,India,The Rose Bowl,1,41,41,0,0,0,0,0,0.0,0.0
23,AB Agarkar,India,The Rose Bowl,1,65,65,0,0,0,0,0,0.0,0.0
19,MM Patel,India,The Rose Bowl,1,35,35,0,0,0,0,0,0.0,0.0
12,CH Morris,South Africa,The Rose Bowl,1,64,64,0,0,0,0,0,0.0,0.0
17,SK Raina,India,The Rose Bowl,1,13,13,0,0,0,0,0,0.0,0.0
14,SR Tendulkar,India,The Rose Bowl,1,27,27,0,0,0,0,0,0.0,0.0
8,R McLaren,South Africa,The Rose Bowl,1,31,31,0,0,0,0,0,0.0,0.0
3,Yuvraj Singh,India,The Rose Bowl,1,29,29,0,0,0,0,0,0.0,0.0
2,R Vinay Kumar,India,The Rose Bowl,1,32,32,0,0,0,0,0,0.0,0.0
24,V Kohli,India,The Rose Bowl,1,22,22,0,0,0,0,0,0.0,0.0